<section class="full-width flex flex-col font-bricolage">
  <div class="w-full  flex flex-col px-6 gap-4 md:gap-2 lg:px-28 bg-white md:pt-15 md:py-25 py-15">

    <div class="w-full flex justify-start">
      {% if section.settings.title != blank %}
        <h2 class="text-4xl md:text-7xl font-bold w-full text-left tracking-tight text-black max-w-2xl pt-4">{{ section.settings.title }}</h2>
      {% endif %}
    </div>
    <div class="grid md:grid-cols-2 md:grid-rows-1 grid-rows-2 pt-10">
     
        <div class="flex flex-col gap-2">
          {% if section.settings.text1 != blank %}
            <div class="max-w-xl flex justify-start  lg:text-4xl text-2xl py-2 font-light text-neutral-800">
              {{ section.settings.text1 }}
            </div>
          {% endif %}

          {% if section.settings.text2 != blank %}
            <div class=" max-w-md flex justify-start  lg:text-4xl text-2xl font-medium text-neutral-800">
              {{ section.settings.text2 }}
            </div>
          {% endif %}
        </div>

        <div class="flex flex-col gap-6 md:gap-10 pt-10 md:pt-15">
        {% if section.settings.eyebrow != blank %}
            <div class="w-full flex justify-start">
              <p class="mx-auto lg:text-3xl text-2xl font-bold text-black">{{ section.settings.eyebrow }}</p>
            </div>
        {% endif %}
        </div>
    </div>
    

    </div>
    {% if section.settings.image %}
        <div class="w-full">
        <img src="{{ section.settings.image | image_url }}" alt="" class="zero-bs-image">
        </div>
    {% endif %}
</section>

{% schema %}
{
  "name": "Pledge Banner About Us 1",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Título",
      "default": "<p>Fourteen years ofcuration, decades of tradition.</p>"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Texto superior (eyebrow)",
      "default": "Our Zero B.S. Pledge"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Texto 1"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Texto 2"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen"
    }
  ],
  "presets": [
    {
      "name": "Pledge Banner About Us 1"
    }
  ]
}
{% endschema %}
