<section class="full-width flex flex-col font-bricolage h-screen relative ">
  <div
  class="relative w-full px-6 lg:px-28 md:py-20 py-10
         bg-[#FFF4DA] bg-cover bg-center bg-no-repeat h-1/2"
  style="
    {% if section.settings.bg_image %}
      background-image: url('{{ section.settings.bg_image | image_url: width: 2000 }}');
    {% endif %}">

      {% if section.settings.eyebrow != blank %}
        <p class="text-xl mx-auto md:text-4xl font-bold text-white">{{ section.settings.eyebrow }}</p>
      {% endif %}

      <div class="w-full flex justify-end">
        {% if section.settings.title != blank %}
          <h2 class="text-4xl md:text-5xl font-bold w-full text-right tracking-tight text-white max-w-2xl pt-4">{{ section.settings.title }}</h2>
        {% endif %}
      </div>
    </div>


      <div class="w-full absolute justify-center items-center pt-50">
        <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-6 md:gap-5 p-10 md:pt-10 lg:pt-20 md:px-5 lg:px-20 pt-5  ">

            <div class="relative w-full h-[300px] md:h-[420px] overflow-hidden rounded-xl">
              <img 
                src="{{ section.settings.image | img_url: '2000x2000' }}" 
                alt="Imagen 1"
                class="w-full h-full object-cover object-center"
                width="{{ section.settings.image.width }}"
                  height="{{ section.settings.image.height }}"
              >
            </div>


            <div class="relative w-full h-[300px] md:h-[420px] overflow-hidden rounded-xl">
              <img 
                src="{{ section.settings.image2 | img_url: '2000x2000' }}" 
                alt="Imagen 1"
                class="w-full h-full object-cover object-center"
                width="{{ section.settings.image.width }}"
                  height="{{ section.settings.image.height }}"
              >
            </div>

            <div class="relative w-full h-[300px] md:h-[420px] overflow-hidden rounded-xl">
              <img 
                src="{{ section.settings.image3 | img_url: '2000x2000' }}" 
                alt="Imagen 1"
                class="w-full h-full object-cover object-center"
                width="{{ section.settings.image.width }}"
                  height="{{ section.settings.image.height }}"
              >
            </div>

        </div>
    </div>


    {% if section.settings.text != blank %}
      <div class="absolute bottom-0 justify-start max-w-3xl md:text-2xl pl-20 text-md text-black ">
        {{ section.settings.text }}
      </div>
    {% endif %}
    
</section>

{% schema %}
{
  "name": "Pledge Banner About Us 2",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Texto superior (eyebrow)",
      "default": "Our Zero B.S. Pledge"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Título",
      "default": "<p>Fourteen years ofcuration, decades of tradition.</p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Texto pequeño"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen 1" 
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Imagen 2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Imagen 3"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Imagen de fondo"
    }

  ],
  "presets": [
    {
      "name": "Pledge Banner About Us 2"
    }
  ]
}
{% endschema %}
