<section class="relative w-full bg-white py-16 md:py-24 overflow-hidden full-width font-bricolage">

  {%- if section.settings.plant_top_left != blank -%}
    <img
      src="{{ section.settings.plant_top_left | image_url: width: 400 }}"
      alt="Decoración planta"
      class="pointer-events-none select-none absolute z-2 -top-6 -left-4 xl:w-[400px] md:w-[300px] w-[280px]"
        width="{{ section.settings.plant_top_left.width }}"
        height="{{ section.settings.plant_top_left.height }}"
    >
  {%- endif -%}

  {%- if section.settings.plant_bottom_right != blank -%}
    <img
      src="{{ section.settings.plant_bottom_right | image_url: width: 400 }}"
      alt="Decoración planta"
      class="pointer-events-none select-none absolute -bottom-30 sm:-bottom-10 -right-4 xl:w-[400px] md:w-[300px] w-[280px] z-999"
      width="{{ section.settings.plant_bottom_right.width }}"
      height="{{ section.settings.plant_bottom_right.height }}"
    >
  {%- endif -%}

  {% comment %} titulo mobile {% endcomment %}
  {%- if section.settings.title_1 != blank -%}
      <h2 class="md:hidden sm:text-8xl text-6xl font-semibold pl-30
        sm:pt-0 pt-20
         tracking-tight text-black text-center">
        {{ section.settings.title_1 }}
      </h2>
  {%- endif -%}

  <div class="relative mx-auto px-6 lg:px-40 gap-4 md:space-y-24 
    lg:py-0 py-20 flex flex-col md:gap-10">

    {%- comment -%} FILA 1 {%- endcomment -%}
    <div class="grid md:grid-cols-2 md:gap-10 gap-5 items-center md:pl-0 sm:pl-20 pl-15">
      
      <div class="relative flex md:order-1 order-2 justify-center 
        md:justify-end w-full ">
        {%- if section.settings.image_1 != blank -%}
          <img
            src="{{ section.settings.image_1 | image_url: width: 900 }}"
            alt="imagen persona"
            class="rounded-3xl object-cover md:w-full"
            width="{{ section.settings.image_1.width }}"
            height="{{ section.settings.image_1.height }}"
          >
        {%- endif -%}
        {%- if section.settings.marca_agua_1 -%}
          <span class="absolute bottom-4 left-4 text-white 
            text-xs md:text-sm opacity-60 pointer-events-none">
            {{section.settings.texto_agua1}}
          </span>
        {%- endif -%}
        
      </div>
      <div class="space-y-4 md:space-y-6 md:order-2 order-1">
        {%- if section.settings.title_1 != blank -%}
          <h2 class="hidden md:flex text-4xl lg:text-7xl md:text-6xl 
            font-bold tracking-tight text-black md:text-center text-right">
            {{ section.settings.title_1 }}
          </h2>
        {%- endif -%}

        {%- if section.settings.body_1 != blank -%}
          <div class="text-xl sm:text-2xl lg:text-4xl md:text-3xl text-neutral-800 text-left md:py-5">
            {{ section.settings.body_1 }}
          </div>
        {%- endif -%}
      </div>

    </div>

    {%- comment -%} FILA 2 {%- endcomment -%}
    <div class="grid md:grid-cols-2 md:gap-10 gap-5 items-center md:pr-0 
      sm:pr-20 pr-15 sm:pt-8 md:pt-0">
      

      <div class="order-1 space-y-4 md:space-y-6">
        {%- if section.settings.body_2_small != blank -%}
          <div class="hidden md:flex md:flex-col text-lg
            sm:text-2xl lg:text-3xl text-neutral-800">
            {{ section.settings.body_2_small }} 
            {{ section.settings.body_2_small2 }}
          </div>

          <div class="md:hidden text-lg
            sm:text-2xl  text-neutral-800">
            {{ section.settings.body_2_small }} 
          </div>
        {%- endif -%}
      </div>

      <div class="order-2 flex justify-start">
        {%- if section.settings.image_2 != blank -%}
          <div class="relative w-full ">
            <img
              src="{{ section.settings.image_2 | image_url: width: 900 }}"
              alt="imagen taza de té"
              class="rounded-3xl object-cover md:w-full"
              width="{{ section.settings.image_2.width }}"
              height="{{ section.settings.image_2.height }}"
            >
              {%- if section.settings.marca_agua_2 -%}
                <span class="absolute bottom-4 left-4 text-white 
                  text-xs md:text-sm opacity-60 pointer-events-none">
                  {{section.settings.texto_agua2}}
                </span>
              {%- endif -%}
          </div>
          
        {%- endif -%}
      </div>


    </div>
    {%- comment -%} FILA 3 {%- endcomment -%}
    <div class="grid md:grid-cols-2 md:gap-10 gap-5
       items-center md:pt-10 sm:pt-5 md:pl-0 pl-20 ">
      
      <div class="order-1 space-y-4 md:hidden">
        {%- if section.settings.body_2_small != blank -%}
          <div class="hidden md:flex md:flex-col text-lg
            sm:text-2xl lg:text-3xl text-neutral-800">
            {{ section.settings.body_2_small }} 
            {{ section.settings.body_2_small2 }}
          </div>

          <div class="md:hidden text-lg
            sm:text-2xl  text-neutral-800">
            {{ section.settings.body_2_small2 }} 
          </div>
        {%- endif -%}
      </div>

      <div class="relative order-2 md:order-1 justify-center md:justify-end w-full">
        {%- if section.settings.image_3 != blank -%}
          <img
            src="{{ section.settings.image_3 | image_url: width: 900 }}"
            alt="imagen persona"
            class=" rounded-3xl object-cover md:w-full"
            width="{{ section.settings.image_3.width }}"
            height="{{ section.settings.image_3.height }}"
          >
        {%- endif -%}

        {%- if section.settings.marca_agua_3 -%}
          <span class="absolute bottom-4  left-4 text-white 
            text-xs md:text-sm opacity-60 pointer-events-none">
            {{section.settings.texto_agua3}}
          </span>
        {%- endif -%}

      </div>

      <div class="space-y-4 md:space-y-6 lg:pt-2 hidden md:flex md:order-2">

        {%- if section.settings.heading_2 != blank -%}
        <h3 class="text-4xl md:text-6xl lg:text-8xl font-normal leading-20 
          tracking-tight text-black pt-4 md:max-w-100">
          {{ section.settings.heading_2 }}
        </h3>            
        {%- endif -%}
      </div>

    </div>

    <div class="space-y-4 md:hidden w-full text-center">

      {%- if section.settings.heading_2 != blank -%}
      <h3 class="sm:text-5xl xs:text-3xl text-2xl text-center font-normal leading-20 
        tracking-tight text-black">
        {{ section.settings.heading_2 }}
      </h3>            
      {%- endif -%}
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Tribe Banner About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "plant_top_left",
      "label": "Imagen planta superior izquierda"
    },
    {
      "type": "image_picker",
      "id": "plant_bottom_right",
      "label": "Imagen planta inferior derecha"
    },

    {
      "type": "text",
      "id": "title_1",
      "label": "Título principal",
      "default": "The Tribe"
    },
    {
      "type": "richtext",
      "id": "body_1",
      "label": "Texto principal"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Imagen superior derecha (persona)"
    },
    {
      "type": "checkbox",
      "id": "marca_agua_1",
      "label": "Mostrar marca de agua 1",
      "default": false
    },
    {
      "type": "text",
      "id": "texto_agua1",
      "label": "Texto de marca de agua",
    },

    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Imagen inferior izquierda"
    },
    {
      "type": "checkbox",
      "id": "marca_agua_2",
      "label": "Mostrar marca de agua 2",
      "default": false
    },
    {
      "type": "text",
      "id": "texto_agua2",
      "label": "Texto de marca de agua 2",
    },

    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Imagen inferior derecha"
    },

    {
      "type": "checkbox",
      "id": "marca_agua_3",
      "label": "Mostrar marca de agua 3",
      "default": false
    },
    {
      "type": "text",
      "id": "texto_agua3",
      "label": "Texto de marca de agua 3",
    },


    {
      "type": "richtext",
      "id": "body_2_small",
      "label": "Texto pequeño de párrafo (derecha abajo) pt1"
    },
    {
      "type": "richtext",
      "id": "body_2_small2",
      "label": "Texto pequeño de párrafo (derecha abajo) pt2"
    },
    {
      "type": "richtext",
      "id": "heading_2",
      "label": "Título grande inferior derecho"
    }
  ],
  "presets": [
    {
      "name": "Tribe Banner About Us"
    }
  ]
}
{% endschema %}
