<section 
  class="relative  min-h-screen flex items-center justify-center text-white w-full full-width "
>

    {% assign mp4_url = section.settings.primary_video_url %}
    {% assign youtube = false %}
    {% assign mp4 = false %}

    {% if mp4_url contains "youtube.com" or mp4_url contains "youtu.be" %}
      {% assign youtube = true %}
    {% elsif mp4_url contains ".mp4" %}
      {% assign mp4 = true %}
    {% endif %}

<!-- CONTENEDOR DEL VIDEO -->
<div class="absolute inset-0 w-full h-full overflow-hidden z-0">

  {% if mp4 %}
    <video 
      class="absolute top-1/2 left-1/2 min-w-full min-h-full w-auto h-auto object-cover 
             -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      autoplay 
      loop 
      muted 
      playsinline
    >
      <source src="{{ mp4_url }}" type="video/mp4">
    </video>
  {% endif %}

  {% if youtube %}
    <iframe 
      class="absolute top-1/2 left-1/2 w-[180%] h-[180%] -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      src="https://www.youtube.com/embed/{{ mp4_url | split: 'v=' | last }}?controls=0&mute=1&autoplay=1&loop=1&playlist={{ mp4_url | split: 'v=' | last }}"
      frameborder="0"
      allow="autoplay; encrypted-media"
    ></iframe>
  {% endif %}

</div>


      
  {% if section.settings.background_image %}
    <img 
      src="{{ section.settings.background_image | image_url: width: 2500 }}"
      alt="Background image"
      width="{{ section.settings.background_image.width }}"
      height="{{ section.settings.background_image.height }}"
      class="absolute inset-0 w-full h-full object-cover min-h-screen z-0"
    >
  {% endif %}

  <div class="absolute inset-0 bg-linear-to-t from-black/40 to-transparent z-1"></div>

  <div class="relative z-10 text-center flex justify-center items-center gap-20 pt-20  md:my-0 flex-col w-full mx-auto font-bricolage ">
    <div class="flex flex-col gap-2 justify-center items-center">
        {% if section.settings.eyebrow %}
        <p class="uppercase md:text-4xl text-2xl font-bold mb-4 text-white">
            {{ section.settings.eyebrow | replace: 'VIBBO', '<span class="font-grafika font-normal uppercase md:text-4xl text-2xl  mb-4 text-white">VIBBO</span>' }}
        </p>

        
        {% endif %}

        <h1 class="font-bold leading-tight text-4xl md:text-6xl mb-6 text-white md:p-0 px-4">
        {{ section.settings.heading_line_1 }}<br>
        {{ section.settings.heading_line_2 }}<br>
        {{ section.settings.heading_line_3 }}
        </h1>
    </div>
    {% if section.settings.body_text %}
      <div class="text-base md:text-xl text-white/90 mx-auto  px-10 w-full md:max-w-4xl">
        {{ section.settings.body_text }}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Main Banner About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Imagen de fondo"
    },
     {
      "type": "url",
      "id": "primary_video_url",
      "label": "Video URL (MP4 o YouTube)"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Texto superior",
    },
    {
      "type": "text",
      "id": "heading_line_1",
      "label": "Título línea 1",
      "default": "Wellness without"
    },
    {
      "type": "text",
      "id": "heading_line_2",
      "label": "Título línea 2",
    },
    {
      "type": "text",
      "id": "heading_line_3",
      "label": "Título línea 3",
    },
    {
      "type": "richtext",
      "id": "body_text",
      "label": "Texto descriptivo"
    }
  ],
  "presets": [
    {
      "name": "Main Banner About Us"
    }
  ]
}
{% endschema %}
