<section class="relative w-full bg-white py-16 md:py-24 overflow-hidden full-width font-bricolage">

  {%- if section.settings.plant_top_left != blank -%}
    <img
      src="{{ section.settings.plant_top_left | image_url: width: 400 }}"
      alt="Decoración planta"
      class="pointer-events-none select-none absolute -top-6 -left-4 xl:w-[400px] md:w-[300px] w-[280px]"
        width="{{ section.settings.plant_top_left.width }}"
        height="{{ section.settings.plant_top_left.height }}"
    >
  {%- endif -%}

  {%- if section.settings.plant_bottom_right != blank -%}
    <img
      src="{{ section.settings.plant_bottom_right | image_url: width: 400 }}"
      alt="Decoración planta"
      class="pointer-events-none select-none absolute -bottom-10 -right-4 xl:w-[400px] md:w-[300px] w-[280px] z-10"
      width="{{ section.settings.plant_bottom_right.width }}"
      height="{{ section.settings.plant_bottom_right.height }}"
    >
  {%- endif -%}

  <div class="relative mx-auto px-6 lg:px-40  gap-4 md:space-y-24 lg:py-0 py-40 flex flex-col md:gap-10">

    {%- comment -%} FILA 1 {%- endcomment -%}
    <div class="grid md:grid-cols-2 gap-10 items-center md:pt-20 md:pl-10">
      <div class="space-y-4 md:space-y-6 ">
        {%- if section.settings.title_1 != blank -%}
          <h2 class="text-4xl md:text-7xl font-bold tracking-tight text-black md:text-center text-right">
            {{ section.settings.title_1 }}
          </h2>
        {%- endif -%}

        {%- if section.settings.body_1 != blank -%}
          <div class="text-xl md:text-4xl text-neutral-800  md:text-left text-right py-5">
            {{ section.settings.body_1 }}
          </div>
        {%- endif -%}
      </div>

      <div class="relative flex justify-center md:justify-end w-full h-[400px]">
        {%- if section.settings.image_1 != blank -%}
          <img
            src="{{ section.settings.image_1 | image_url: width: 900 }}"
            alt="imagen persona"
            class="rounded-3xl object-cover md:w-full h-full!"
            width="{{ section.settings.image_1.width }}"
            height="{{ section.settings.image_1.height }}"
          >
        {%- endif -%}

        <span class="absolute bottom-4 left-4 text-white text-xs md:text-sm opacity-60 pointer-events-none">
          INGUAT
        </span>
      </div>

    </div>

    {%- comment -%} FILA 2 {%- endcomment -%}
    <div class="grid md:grid-cols-2 gap-10 items-center">
      <div class="order-1 md:order-1 flex justify-start">
        {%- if section.settings.image_2 != blank -%}
          <div class="relative w-full ">
            <img
              src="{{ section.settings.image_2 | image_url: width: 900 }}"
              alt="imagen taza de té"
              class="rounded-3xl object-cover md:w-full"
              width="{{ section.settings.image_2.width }}"
              height="{{ section.settings.image_2.height }}"
            >
              <span class="absolute bottom-4 left-4 text-white text-xs md:text-sm opacity-60 pointer-events-none">
                INGUAT
              </span>
          </div>
          
        {%- endif -%}
      </div>

      <div class="order-2 md:order-2 space-y-4 md:space-y-6">
        {%- if section.settings.body_2_small != blank -%}
          <div class="text-xl md:text-3xl text-neutral-800">
            {{ section.settings.body_2_small }}
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- comment -%} FILA 3 {%- endcomment -%}
    <div class="grid md:grid-cols-2 gap-10 items-center md:pt-10 ">
      <div class="space-y-4 md:space-y-6 lg:pt-2">

        {%- if section.settings.heading_2 != blank -%}
        <h3 class="text-4xl md:text-7xl font-normal leading-15 tracking-tight text-black pt-4">
          {{ section.settings.heading_2 }}
        </h3>            
        {%- endif -%}
      </div>

      <div class="relative justify-center md:justify-end w-full">
        {%- if section.settings.image_3 != blank -%}
          <img
            src="{{ section.settings.image_3 | image_url: width: 900 }}"
            alt="imagen persona"
            class=" rounded-3xl object-cover md:w-full"
            width="{{ section.settings.image_3.width }}"
            height="{{ section.settings.image_3.height }}"
          >
        {%- endif -%}
        <span class="absolute bottom-4 left-4 text-white text-xs md:text-sm opacity-60 pointer-events-none">
          INGUAT
        </span>
      </div>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Tribe Banner About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "plant_top_left",
      "label": "Imagen planta superior izquierda"
    },
    {
      "type": "image_picker",
      "id": "plant_bottom_right",
      "label": "Imagen planta inferior derecha"
    },

    {
      "type": "text",
      "id": "title_1",
      "label": "Título principal",
      "default": "The Tribe"
    },
    {
      "type": "richtext",
      "id": "body_1",
      "label": "Texto principal"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Imagen superior derecha (persona)"
    },

    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Imagen inferior izquierda"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Imagen inferior derecha"
    },
    {
      "type": "richtext",
      "id": "body_2_small",
      "label": "Texto pequeño de párrafo (derecha abajo)"
    },
    {
      "type": "richtext",
      "id": "heading_2",
      "label": "Título grande inferior derecho"
    }
  ],
  "presets": [
    {
      "name": "Tribe Banner About Us"
    }
  ]
}
{% endschema %}
