<footer 
  class="w-screen md:min-h-[55vh] min-h-[40vh]   bg-[#1D1D1B] text-white flex items-start justify-between"
  style="width: 100vw; margin-left: calc(50% - 50vw);"
>
  <!-- VERSION MOBILE -->
  <div class="md:hidden flex py-10 w-full flex-col items-center justify-between px-5">
    <!-- LOGO -->
    <div class="w-full flex flex-col items-center justify-start px-5 py-10">
      {% if section.settings.logo %}
        <img 
          src="{{ section.settings.logo | image_url: width: 300 }}" 
          alt="Logo"
          class="w-30 object-contain mx-auto"
          width="{{ section.settings.background_image.width }}"
          height="{{ section.settings.background_image.height }}"
        >
      {% endif %}
      {% if section.settings.descripcion %}
      <p class="md:text-[1.2vw] text-xs text-white mt-2 pt-5 md:pr-[15vw] font-bricolage leading-tight">
        {{ section.settings.descripcion | newline_to_br}}
      </p>
    {% endif %}
    </div>
     <!-- SOCIALS -->
    <div class="flex pl-2 gap-4 md:pb-20 ">
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Facebook">
              {%- render 'fb' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Instagram">
              {%- render 'ig' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80" 
              aria-label="Tiktok">
              {%- render 'tiktok' -%}
            </a>
        </div>
       
      </div>
      <div>
        {% if section.settings.descripcion2 %}
          <p class=" md:text-sm text-xs w-screen 
            justify-center text-white font-bricolage 
            leading-tight py-5 md:pt-0 pt-10 uppercase px-5">
            {{ section.settings.descripcion2 }}
          </p>
        {% endif %}
      </div>
     <!-- OTROS -->
    <div class="flex flex-row space-y-1 pl-5 py-10 pt-12">
        {% if section.settings.menu and linklists[section.settings.menu2_footer] and linklists[section.settings.menu2_footer].links.size > 0 %}
          {% for link in linklists[section.settings.menu2_footer].links %}
            <a href="{{ link.url }}" class="hover:opacity-70 whitespace-nowrap text-sm    transition-opacity pr-5">{{ link.title }}</a>
          {% endfor %}
        {% else %}
          <a class="hover:opacity-70 whitespace-nowrap  text-sm transition-opacity pr-5">Privacy Policy</a>
          <a class="hover:opacity-70 whitespace-nowrap  text-sm pr-5">Terms of Service</a>
          <a class="hover:opacity-70 whitespace-nowrap  text-sm">Cookies Policy</a>
        {% endif %}
      </div>
  </div>

  <!-- VERSIONO DESKTOP -->
  <!-- COLUMNA IZQUIERDA -->
  <div class="hidden w-1/2 md:flex flex-col justify-between items-start p-8 md:pl-20 md:pt-20 h-full">
    <div>
    {% if section.settings.logo %}
      <img 
        src="{{ section.settings.logo | image_url: width: 300 }}" 
        alt="Logo"
        class="w-40 object-contain "
        width="{{ section.settings.background_image.width }}"
        height="{{ section.settings.background_image.height }}"
      >
    {% endif %}
  <!-- descripcion debajo del footer -->
    {% if section.settings.descripcion %}
      <p class="md:text-[1.2vw] text-xs text-white mt-2 pt-5 md:pr-[15vw] font-bricolage leading-tight">
        {{ section.settings.descripcion }}
      </p>
    {% endif %}</div>

      <!-- seccion de iconos de redes sociales -->
      <div class="flex pl-2 gap-4 md:pb-20 ">
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Facebook">
              {%- render 'fb' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Instagram">
              {%- render 'ig' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80" 
              aria-label="Tiktok">
              {%- render 'tiktok' -%}
            </a>
        </div>
       
      </div>
      <div>
        {% if section.settings.descripcion2 %}
          <p class=" text-md w-screen 
            justify-start text-white font-bricolage leading-tight pb-10 uppercase pr-20">
            {{ section.settings.descripcion2 }}
          </p>
        {% endif %}
      </div>

      <div class="flex flex-row space-y-1 md:pb-8">
        {% if section.settings.menu and linklists[section.settings.menu2_footer] and linklists[section.settings.menu2_footer].links.size > 0 %}
          {% for link in linklists[section.settings.menu2_footer].links %}
            <a href="{{ link.url }}" class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg transition-opacity pr-5">{{ link.title }}</a>
          {% endfor %}
        {% else %}
          <a class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg transition-opacity pr-5">Privacy Policy</a>
          <a class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg pr-5">Terms of Service</a>
          <a class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg">Cookies Policy</a>
        {% endif %}
      </div>

  

    </div>

  <!-- COLUMNA DERECHA -->
  <div class="hidden w-1/2 h-full md:flex flex-col items-start justify-start  md:pt-15 md:pr-20 pl-[10vw]">
      <nav class="flex flex-col md:flex-row justify-between w-full">

        
        
        <div class="flex flex-col items-start pt-8 w-15">
          {% for link in section.settings.submenu1_footer.links %}

            {% if forloop.first %}
              <h1 class="md:text-[1.8vw] text-lg font-bricolage  mb-4 whitespace-nowrap">
                {{ link.title }}
              </h1>
            {% else %}
              <a href="{{ link.url }}" class="md:text-[1vw] text-[10px] font-bricolage opacity-80 mb-2 whitespace-nowrap hover:opacity-60 transition-opacity">
                {{ link.title }}
              </a>
            {% endif %}

          {% endfor %}
        </div>
        <div class="flex flex-col items-start pt-8 w-20">
          {% for link in section.settings.submenu2_footer.links %}

            {% if forloop.first %}
              <a href="{{ link.url }}"
                class="md:text-[1.8vw] text-lg font-bricolage  mb-4 whitespace-nowrap">
                {{ link.title }}
              </a>
            {% else %}
              <a href="{{ link.url }}" class="md:text-[1vw] text-[10px] font-bricolage opacity-80 mb-2 whitespace-nowrap hover:opacity-60 transition-opacity">
                {{ link.title }}
              </a>
            {% endif %}

          {% endfor %}
        </div>
         <div class="flex flex-col items-start pt-8 w-20">
          {% for link in section.settings.submenu3_footer.links %}

            {% if forloop.first %}
              <h1 class="md:text-[1.8vw] text-lg font-bricolage  mb-4 whitespace-nowrap">
                {{ link.title }}
              </h1>
            {% else %}
              <a href="{{ link.url }}" class="md:text-[1vw] text-[10px] font-bricolage opacity-80 mb-2 whitespace-nowrap hover:opacity-60 transition-opacity">
                {{ link.title }}
              </a>
            {% endif %}

          {% endfor %}
        </div>


      </nav>
      
  </div>
  

</footer>






{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "submenu1_footer",
      "label": "t:labels.menu"
    },

    {
      "type": "link_list",
      "id": "submenu2_footer",
      "label": "t:labels.menu"
    },

    {
      "type": "link_list",
      "id": "submenu3_footer",
      "label": "t:labels.menu"
    },

    {
      "type": "link_list",
      "id": "menu2_footer",
      "label": "Terms menu"
    },
   
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "textarea",
      "id": "descripcion",
      "label": "Description",
      "default": "Bienvenido a Nuestra Tienda"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    },
    {
      "type": "text",
      "id": "descripcion2",
      "label": "Description 2",
      "default": "Bienvenido a Nuestra Tienda"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "tiktok_url",
      "label": "Tiktok URL"
    },
  ]
}
{% endschema %}
