<footer 
  class="w-screen min-h-[55vh]  bg-gray-950 text-white flex items-start justify-between"
  style="width: 100vw; margin-left: calc(50% - 50vw);"
>

  <!-- COLUMNA IZQUIERDA -->
  <div class="w-1/2 flex flex-col justify-between items-start p-8 md:pl-20 md:pt-20 h-full">
    <div>
    {% if section.settings.logo %}
      <img 
        src="{{ section.settings.logo | image_url: width: 300 }}" 
        alt="Logo"
        class="w-40 object-contain "
      >
    {% endif %}
  <!-- descripcion debajo del footer -->
    {% if section.settings.descripcion %}
      <p class="md:text-[1.2vw] text-xs text-white mt-2 pt-5 md:pr-[15vw] font-bricolage leading-tight">
        {{ section.settings.descripcion }}
      </p>
    {% endif %}</div>

      <!-- seccion de iconos de redes sociales -->
      <div class="flex pl-2 gap-4 md:pb-20 ">
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Facebook">
              {%- render 'fb' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Instagram">
              {%- render 'ig' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between ">
            <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80" 
              aria-label="Tiktok">
              {%- render 'tiktok' -%}
            </a>
        </div>
       
      </div>

      <div class="flex flex-row space-y-1 md:pb-8">
        <a class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg transition-opacity pr-5">Privacy Policy</a>
        <a class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg pr-5">Terms of Service</a>
        <a class="hover:opacity-70 whitespace-nowrap text-xs md:text-lg">Cookies Policy</a>
      </div>

      </div>

  <!-- COLUMNA DERECHA -->
  <div class="w-1/2 h-full flex flex-col items-start justify-start  md:pt-15 md:pr-20 pl-[10vw]">
      <nav class="flex flex-col md:flex-row justify-between w-full">

        
        {% for link in section.settings.menu.links %}
          <div class="flex flex-col items-start pt-8">
          <a href="{{ link.url }}" class=" md:text-[1.8vw] text-lg hover:text-gray-300 transition font-bricolage whitespace-nowrap ">
            {{ link.title }}
          </a>   
          <p class="md:text-[1vw] text-[10px] font-bricolage whitespace-nowrap">Vision & mission</p> 
        </div> 
        {% endfor %}
      </nav>
      
  </div>

</footer>




{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
   
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "descripcion",
      "label": "Description",
      "default": "Bienvenido a Nuestra Tienda"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "tiktok_url",
      "label": "Tiktok URL"
    },
  ]
}
{% endschema %}
