<div class="slider-facts-{{ section.id }} custom-slider relative md:h-screen h-60vh mx-auto overflow-hidden"
  style="margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw);">
  <link href="{{ 'sections-header.css' | asset_url }}" rel="stylesheet" />

  {% comment %} version desktop {% endcomment %}
  <div class="md:block slides-wrapper md:relative w-full">
    {% for block in section.blocks %}
      {% assign img = block.settings.image_desktop %}
      <div class="slide absolute inset-0 {% if forloop.first %}active{% endif %}">
        <img 
          src="{{ img | image_url: width: img.width, height: img.height }}"
          class="w-full h-full object-cover mt-10! md:mt-0"
          width="{{ img.width }}"
          height="{{ img.height }}"
          alt="{{ block.settings.alt | escape }}"
        />

        <div class="slide-content md:h-screen md:pt-0 pt-10 overflow-hidden absolute inset-0 flex flex-col items-center justify-center text-center ">
          
          <h1 class="text-[10vw] font-bold font-bricolage text-white drop-shadow-lg leading-[0.9]">
            {{ block.settings.page_title | newline_to_br  }}
          </h1>

          <p class="text-[2.5vw] md:pt-4 pt-2 text-white font-bricolage drop-shadow-lg leading-[0.9] ">
            {{ block.settings.page_descripction }}
          </p>

        </div>
      </div>
    {% endfor %}
  </div>
 

  <!-- Flechas -->
    <button class="prev absolute top-1/2 text-white py-2 opacity-100 hover:opacity-60 transition duration-300">
      <div class="w-10 h-10 md:w-30 md:h-30 justify-center md:pl-15">
        {%- render 'arrow-slidder2' -%}
      </div>
    </button>

    <button class="next absolute top-1/2 right-0 text-white py-2 opacity-100 hover:opacity-60 transition duration-300">
      <div class="w-10 h-10 md:w-30 md:h-30">
        {%- render 'arrow-slidder' -%}
      </div>
    </button>

  
</div>


<div class="absolute inset-0 z-10 pointer-events-none top-2">
  <div class="w-full h-full relative">

      {% if section.settings.image_animation1 %}
        <img src="{{ section.settings.image_animation1 | image_url: width: section.settings.image_animation1.width, height: section.settings.image_animation1.height }}"
              width="{{ section.settings.image_animation1.width }}"
              height="{{ section.settings.image_animation1.height }}"
              class="animated-img-1 absolute md:top-[20%] top-[29%] md:left-[30%] left-[20%] w-[50px] md:w-[130px] object-cover">
      {% endif %}

      {% if section.settings.image_animation2 %}
        <img src="{{ section.settings.image_animation2 | image_url: width: section.settings.image_animation2.width, height: section.settings.image_animation2.height }}"
            width="{{ section.settings.image_animation2.width }}"
            height="{{ section.settings.image_animation2.height }}"
            class="animated-img-2 absolute md:top-[23%] top-[30%] left-[70%] w-[50px] md:w-[150px] object-cover">
      {% endif %}

      {% if section.settings.image_animation3 %}
        <img src="{{ section.settings.image_animation3 | image_url: width: section.settings.image_animation3.width, height: section.settings.image_animation3.height }}"
            width="{{ section.settings.image_animation3.width }}"
            height="{{ section.settings.image_animation3.height }}"
            class="animated-img-3 absolute bottom-[25%] md:left-[20%] left-[15%] w-[41px] md:w-[90px] object-cover">
      {% endif %}

      {% if section.settings.image_animation4 %}
        <img src="{{ section.settings.image_animation4 | image_url: width: section.settings.image_animation4.width }}" 
            width="{{ section.settings.image_animation4.width }}"
            height="{{ section.settings.image_animation4.height }}"
            class="animated-img-4 absolute bottom-[20%] left-[75%] w-[50px] md:w-[90px] object-cover">
      {% endif %}

  </div>
</div>


<style>
.custom-slider .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  will-change: opacity;
}

.custom-slider .slide.active {
  opacity: 1;
  z-index: 2;
}

.custom-slider .prev,
.custom-slider .next {
  z-index: 50;
}

</style>


<script>
document.addEventListener("DOMContentLoaded", function () {
  const slider = document.querySelector(".slider-facts-{{ section.id }}");
  if (!slider) return;

  const wrapper = slider.querySelector(".slides-wrapper");
  const slides = wrapper.querySelectorAll(".slide");
  const nextBtn = slider.querySelector(".next");
  const prevBtn = slider.querySelector(".prev");

  let index = 0;

  function showSlide(i) {
    slides.forEach(s => s.classList.remove("active"));
    slides[i].classList.add("active");
  }

  nextBtn.addEventListener("click", () => {
    index = (index + 1) % slides.length;
    showSlide(index);
  });

  prevBtn.addEventListener("click", () => {
    index = (index - 1 + slides.length) % slides.length;
    showSlide(index);
  });
});
</script>



{% schema %}
{
  "name": "Header Slide",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "number",
      "id": "Time",
      "label": "Time per slide (ms)",
      "default": 10000
    },
    {
      "type": "image_picker",
      "id": "image_animation1",
      "label": "Image Animation"
    },
    {
      "type": "image_picker",
      "id": "image_animation2",
      "label": "Image Animation 2"
    },
    {
      "type": "image_picker",
      "id": "image_animation3",
      "label": "Image Animation 3"
    },
    {
      "type": "image_picker",
      "id": "image_animation4",
      "label": "Image Animation 4"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Imagen Desktop",
      "settings": [
        { "type": "image_picker", "id": "image_desktop", "label": "Imagen Desktop" },
        {
          "type": "textarea",
          "id": "page_title",
          "label": "Page Title",
          "default": "Bienvenido a Nuestra Tienda"
        },
        {
          "type": "text",
          "id": "page_descripction",
          "label": "Page Descripction",
          "default": "text"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [{ "name": "Header Slide" }]
}
{% endschema %}