<header 
  class="relative w-screen h-screen bg-cover bg-center flex items-center justify-center overflow-hidden"
  style="margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw); background-image: url({{ section.settings.background_image | image_url }});"
>
<div class="absolute top-0 left-0 w-full grid grid-cols-3 items-center px-10 py-4 z-30
            bg-black/60">

  <!-- LOGO (col 1) -->
  <div class="flex items-center">
    {% if section.settings.logo %}
      <img 
        src="{{ section.settings.logo | image_url: width: 200 }}" 
        alt="Logo"
        class="w-40 object-contain"
      >
    {% else %}
      <h2 class="text-xl font-bold text-white">
        {{ shop.name }}
      </h2>
    {% endif %}
  </div>

  <!-- MENU CENTRADO (col 2) -->
  <nav class="flex justify-center space-x-8">
    {% for link in section.settings.menu.links %}
      <a 
        href="{{ link.url }}" 
        class="font-sf-pro font-light text-lg p-4 md:text-sm tracking-wider uppercase hover:text-gray-300 transition-colors duration-200 !text-white"
      >
        {{ link.title }}
      </a>
    {% endfor %}
  </nav>

  <!-- Col 3 (vacía o para íconos) -->
  <div></div>

</div>

 

  <div class="">
  {% comment %} {# Title centered #} {% endcomment %}
  <div class="mx-auto text-center">
    <h1 class="text-[10vw] md:text-[10vw] font-bold text-white drop-shadow-lg leading-[0.9] tracking-tight">
      {{ section.settings.page_title }}
    </h1>
  </div>

  <div class="mx-auto text-center">
    <p class="text-[2vw] md:text-[2.5vw] pt-4 text-white drop-shadow-lg leading-[0.9] tracking-tight">
      {{ section.settings.page_descripction }}
    </p>
  </div></div>



</header>


{% stylesheet %}
  body {
    overflow-x: hidden;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title",
      "default": "Bienvenido a Nuestra Tienda"
    },
    {
      "type": "text",
      "id": "page_descripction",
      "label": "Page Descripction",
      "default": "text"
    }
  ]
}

{% endschema %}
