<div class="relative w-screen md:h-screen h-[350px] bg-cover bg-center flex items-center justify-center overflow-hidden full-bleed-header header-bg"
     style="--header-bg: url('{{ section.settings.background_image | image_url }}');">

  <link href="{{ 'sections-header.css' | asset_url }}" rel="stylesheet" />

  <div class="">

    <div class="absolute inset-0 z-10 pointer-events-none">
  <div class="w-full h-full relative">

    {% if section.settings.image_animation1 %}
      <img src="{{ section.settings.image_animation1 | image_url: width: 2000 }}" 
            width="{{ section.settings.image_animation1.featured_media.width }}"
            height="{{ section.settings.image_animation1.featured_media.height }}"
            class="animated-img-1 absolute md:top-[20%] top-[28%] left-[30%] w-[50px] md:w-[130px] object-cover">
    {% endif %}

    {% if section.settings.image_animation2 %}
      <img src="{{ section.settings.image_animation2 | image_url: width: 2000 }}" 
          width="{{ section.settings.image_animation2.featured_media.width }}"
          height="{{ section.settings.image_animation2.featured_media.height }}"
          class="animated-img-2 absolute md:top-[23%] top-[30%] left-[70%] w-[50px] md:w-[150px] object-cover">
    {% endif %}

    {% if section.settings.image_animation3 %}
      <img src="{{ section.settings.image_animation3 | image_url: width: 2000 }}" 
          width="{{ section.settings.image_animation2.featured_media.width }}"
          height="{{ section.settings.image_animation2.featured_media.height }}"
          class="animated-img-3 absolute bottom-[25%] left-[20%] w-[45px] md:w-[90px] object-cover">
    {% endif %}

    {% if section.settings.image_animation4 %}
      <img src="{{ section.settings.image_animation4 | image_url: width: 2000 }}" 
          width="{{ section.settings.image_animation2.featured_media.width }}"
          height="{{ section.settings.image_animation2.featured_media.height }}"
          class="animated-img-4 absolute bottom-[20%] left-[75%] w-[50px] md:w-[90px] object-cover">
    {% endif %}

  </div>
</div>

  {% comment %} {# Title centered #} {% endcomment %}
  <div class="mx-auto text-center z-20 relative">
    <h1 class="text-[12vw] md:text-[10vw] font-bold pt-15 font-bricolage text-white drop-shadow-lg leading-[0.9]">
      {{ section.settings.page_title 
        | newline_to_br
        | replace: 'VIBBO', '<span class="font-grafika font-normal text-[12vw] md:text-[9.5vw] text-white leading-[0.9]">VIBBO</span>' }}
    </h1>
</div>

<div class="mx-auto text-center z-20 relative">
    <p class="text-[3.5vw] md:text-[2.5vw] pt-4 text-white font-bricolage drop-shadow-lg leading-[0.9] ">
      {{ section.settings.page_descripction }}
    </p>
</div>


</div></div>





{% schema %}
{
  "name": "Header main section",
  "settings": [
    
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image_animation1",
      "label": "Image Animation"
    },
    {
      "type": "image_picker",
      "id": "image_animation2",
      "label": "Image Animation 2"
    },
    {
      "type": "image_picker",
      "id": "image_animation3",
      "label": "Image Animation 3"
    },
    {
      "type": "image_picker",
      "id": "image_animation4",
      "label": "Image Animation 4"
    },
    {
      "type": "textarea",
      "id": "page_title",
      "label": "Page Title",
      "default": "Bienvenido a Nuestra Tienda"
    },
    {
      "type": "text",
      "id": "page_descripction",
      "label": "Page Descripction",
      "default": "text"
    }
    
  ],
  "presets": [
    {
      "name": "Header Main section",
    }
  ]
}



{% endschema %}

