<div
  class="slider-facts-{{ section.id }} custom-slider relative 
         h-[55vh] md:h-screen w-screen
         mx-auto overflow-hidden"
  data-autoplay="{{ section.settings.autoplay }}"
  data-interval="{{ section.settings.Time }}"
  style="margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw);"
>


  <link href="{{ 'sections-header.css' | asset_url }}" rel="stylesheet" />
  <div class="md:hidden relative h-[120px] w-full  bg-white">
    
  </div>

  <div class="slides-wrapper relative w-full md:h-screen h-[38vh] overflow-hidden">
    {% for block in section.blocks %}
      <div class="slide absolute inset-0 w-full h-full {% if forloop.first %}active{% endif %}">

          


          {% if block.settings.video_mp4 != blank %}
            <video
             class="absolute inset-0 w-full h-full min-w-full min-h-full object-cover object-center"
              autoplay
              muted
              loop
              playsinline
            >
              <source src="{{ block.settings.video_mp4 }}" type="video/mp4">
            </video>

          {% elsif block.settings.image_desktop %}
            <img
              src="{{ block.settings.image_desktop | image_url: width: 3000 }}"
              class="absolute inset-0 w-full h-full min-w-full min-h-full object-cover object-center"
              alt="{{ block.settings.alt | escape }}"
              width="{{ section.settings.image_desktop.width }}"
              height="{{ section.settings.image_desktop.height }}"
            />
          {% endif %}

          


        <div class="slide-content 
              absolute top-0 left-0 w-full
              h-[40vh] md:h-screen
              flex flex-col items-center justify-center
              text-center overflow-hidden">

          
          <h1 class="text-[7vw] font-bold font-bricolage text-white
             drop-shadow-lg leading-[0.9] ">
            {{ block.settings.page_title | newline_to_br  }}
          </h1>

          <p class="text-[2.5vw] md:pt-4 pt-2 text-white font-bricolage drop-shadow-lg leading-[0.9] ">
            {{ block.settings.page_descripction }}
          </p>

        </div>
        {% comment %} boton {% endcomment %}
      {% assign position = block.settings.button_position %}

      {% case position %}
        {% when 'top-left' %}
          {% assign position_classes = 'items-start justify-start pt-10 pl-10' %}
        {% when 'top-center' %}
          {% assign position_classes = 'items-start justify-center pt-48' %}
        {% when 'top-right' %}
          {% assign position_classes = 'items-start justify-end pt-10 pr-10' %}
        {% when 'center' %}
          {% assign position_classes = 'items-center justify-center pt-50' %}
        {% when 'bottom-left' %}
          {% assign position_classes = 'items-end justify-start pb-20 pl-10' %}
        {% when 'bottom-left-up' %}
          {% assign position_classes = 'items-end justify-start pb-40 pl-10' %}
        {% when 'bottom-right' %}
          {% assign position_classes = 'items-end justify-end pb-20 pr-10' %}
        {% else %}
          {% assign position_classes = 'items-end justify-center pb-20' %}
      {% endcase %}



      <div class="hidden md:absolute inset-0 md:flex {{ position_classes }} z-50 pointer-events-none">
        <a
          href="/collections/frontpage"
          class="pointer-events-auto bg-[#FFCD51] flex items-center justify-center 
                rounded-3xl px-8 py-3 hover:opacity-70 transition-opacity"
        >
          <span class="font-bricolage text-black text-xl uppercase font-normal">
            {{block.settings.button_text}}
          </span>
        </a>
      </div>

        {% if block.settings.link_popup %}
            <div class="relative group pt-90">
  
              <div class="w-32 h-32 ">
                
              </div>

              <!-- Pop up -->
              <div class="absolute inset-0 md:flex items-start justify-center
                          xl:pt-83 xl:pl-220 xl:px-50
                          lg:pt-70 lg:pl-220 lg:px-20
                          md:pt-65 md:pl-180 md:px-10
                          xs:pt-65 xs:pl-10 sm:px-10
                          hidden
                          z-50 pointer-events-none 
                          opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                          
                <span class="bg-black text-white text-sm px-3 py-2 rounded-lg shadow-lg">
                  {{ block.settings.hover_text }}
                </span>

              </div>
            </div>

          {% endif %}

    </div>
      
    {% endfor %}
  </div>
  

    
 

  <!-- Flechas -->
    <button class="prev absolute top-1/2  text-white py-2 opacity-100 hover:opacity-60 transition duration-300 z-10">
      <div class="w-10 h-10 md:w-30 md:h-30 justify-center md:pl-15">
        {%- render 'arrow-slidder2' -%}
      </div>
    </button>

    <button class="next absolute top-1/2 right-0 text-white py-2 opacity-100 hover:opacity-60 transition duration-300 z-10">
      <div class="w-10 h-10 md:w-30 md:h-30">
        {%- render 'arrow-slidder' -%}
      </div>
    </button>

  
</div>


<div class="absolute inset-0 z-10 pointer-events-none top-2">
  <div class="w-full h-full relative">

      {% if section.settings.image_animation1 %}
        <img src="{{ section.settings.image_animation1 | image_url: width: section.settings.image_animation1.width, height: section.settings.image_animation1.height }}"
              width="{{ section.settings.image_animation1.width }}"
              height="{{ section.settings.image_animation1.height }}"
              class="animated-img-1 absolute md:top-[20%] top-[29%] md:left-[30%] left-[20%] w-[50px] md:w-[130px] object-cover">
      {% endif %}

      {% if section.settings.image_animation2 %}
        <img src="{{ section.settings.image_animation2 | image_url: width: section.settings.image_animation2.width, height: section.settings.image_animation2.height }}"
            width="{{ section.settings.image_animation2.width }}"
            height="{{ section.settings.image_animation2.height }}"
            class="animated-img-2 absolute md:top-[23%] top-[30%] left-[70%] w-[50px] md:w-[150px] object-cover">
      {% endif %}

      {% if section.settings.image_animation3 %}
        <img src="{{ section.settings.image_animation3 | image_url: width: section.settings.image_animation3.width, height: section.settings.image_animation3.height }}"
            width="{{ section.settings.image_animation3.width }}"
            height="{{ section.settings.image_animation3.height }}"
            class="animated-img-3 absolute bottom-[25%] md:left-[20%] left-[15%] w-[41px] md:w-[90px] object-cover">
      {% endif %}

      {% if section.settings.image_animation4 %}
        <img src="{{ section.settings.image_animation4 | image_url: width: section.settings.image_animation4.width }}" 
            width="{{ section.settings.image_animation4.width }}"
            height="{{ section.settings.image_animation4.height }}"
            class="animated-img-4 absolute bottom-[20%] left-[75%] w-[50px] md:w-[90px] object-cover">
      {% endif %}

  </div>
</div>


<style>
.custom-slider .slide {
  position: absolute;
  inset: 0;
}

.custom-slider .slide {
  opacity: 0;
  pointer-events: none;
}

.custom-slider .slide.active {
  opacity: 1;
  pointer-events: auto;
}


.custom-slider .slide.active {
  opacity: 1;
  z-index: 2;
}

.custom-slider .prev,
.custom-slider .next {
  z-index: 10;
}

.custom-slider .slide {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.7s ease-in-out,
    transform 0.7s ease-in-out;
  pointer-events: none;
}

.custom-slider .slide.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const slider = document.querySelector(".slider-facts-{{ section.id }}");
  if (!slider) return;

  const wrapper = slider.querySelector(".slides-wrapper");
  const slides = wrapper.querySelectorAll(".slide");
  const nextBtn = slider.querySelector(".next");
  const prevBtn = slider.querySelector(".prev");

  const autoplay = slider.dataset.autoplay === "true";
  const interval = parseInt(slider.dataset.interval, 10) || 5000;

  let index = 0;
  let autoplayInterval = null;

  function showSlide(i) {
    slides.forEach(s => s.classList.remove("active"));
    slides[i].classList.add("active");
  }

  function nextSlide() {
    index = (index + 1) % slides.length;
    showSlide(index);
  }

  function prevSlide() {
    index = (index - 1 + slides.length) % slides.length;
    showSlide(index);
  }

  function startAutoplay() {
    stopAutoplay();
    if (!autoplay) return;

    autoplayInterval = setInterval(() => {
      nextSlide();
    }, interval);
  }

  function stopAutoplay() {
    if (autoplayInterval) {
      clearInterval(autoplayInterval);
      autoplayInterval = null;
    }
  }

  nextBtn.addEventListener("click", () => {
    nextSlide();
    startAutoplay();
  });

  prevBtn.addEventListener("click", () => {
    prevSlide();
    startAutoplay();
  });

  startAutoplay();
});
</script>



{% schema %}
{
  "name": "Header Slide",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    
    {
      "type": "number",
      "id": "Time",
      "label": "Time per slide (ms)",
      "default": 1000
    },
    {
      "type": "image_picker",
      "id": "image_animation1",
      "label": "Image Animation"
    },
    {
      "type": "image_picker",
      "id": "image_animation2",
      "label": "Image Animation 2"
    },
    {
      "type": "image_picker",
      "id": "image_animation3",
      "label": "Image Animation 3"
    },
    {
      "type": "image_picker",
      "id": "image_animation4",
      "label": "Image Animation 4"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Imagen Desktop",
       "settings": [
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen Desktop"
      },
      {
        "type": "url",
        "id": "video_mp4",
        "label": "Video MP4 (URL)",
        "info": "Pega una URL directa a un archivo .mp4"
      },
      {
        "type": "textarea",
        "id": "page_title",
        "label": "Page Title",
        "default": "Bienvenido a Nuestra Tienda"
      },
      {
        "type": "text",
        "id": "page_descripction",
        "label": "Page Description",
        "default": "text"
      }, 
      {
        "type": "text",
        "id": "button_text",
        "label": "Boton texto ",
        "default": "Shop now"
      },
      {
        "type": "checkbox",
        "id": "link_popup",
        "label": "Pop Up",
        "default": false
      },
      {
        "type": "text",
        "id": "hover_text",
        "label": "Texto del hover",
        "default": "Texto"
      },
      {
        "type": "select",
        "id": "button_position",
        "label": "Button position",
        "default": "bottom-center",
        "options": [
          { "value": "top-left", "label": "Top Left" },
          { "value": "top-center", "label": "Top Center" },
          { "value": "top-right", "label": "Top Right" },
          { "value": "center", "label": "Center" },
          { "value": "bottom-left", "label": "Bottom Left" },
          { "value": "bottom-left-up", "label": "Bottom Left Up" },
          { "value": "bottom-center", "label": "Bottom Center" },
          { "value": "bottom-right", "label": "Bottom Right" }
        ]
      }

    ]
    }
  ],
  "max_blocks": 12,
  "presets": [{ "name": "Header Slide" }]
}
{% endschema %}