<header 
  class="fixed top-0 left-0 w-screen h-30 bg-cover bg-center flex items-center justify-center overflow-hidden z-50"
>
<div class="justify-between fixed md:absolute top-0 left-0 w-full md:grid md:grid-cols-3 items-center p-[3.5vh] ml-0 pl-0 z-30
            bg-black/40">

  <!-- movil (col 1) -->

    <div class="lg:hidden py-4 flex items-center justify-between fixed top-0 left-0 w-full px-4 z-10">
      <!-- Hamburger Menu Button -->
      <button 
        type="button" 
        class="mobile-menu-toggle text-white w-12 h-12 flex flex-col justify-center items-center space-y-1.5"
        aria-label="Toggle menu"
        onclick="toggleMobileMenu()">
        {%-  render 'icon-hamburger' %}
      </button>

     
      
    </div>
      <!-- MOBILE MENU -->
      <div id="mobile-menu" class="lg:hidden hidden fixed top-0 left-0 w-full h-screen bg-black z-1 px-8">
        <nav class="flex flex-col space-y-4 justify-center items-center h-full ">
          {% for link in section.settings.menu.links %}
            <a href="{{ link.url }}" class="text-2xl tracking-wider text-gray-300 transition-colors duration-200  text-center py-2 font-bricolage">
              {{ link.title }}
            </a>
          {% endfor %}
        </nav>
      </div>


      
  <!-- LOGO (col 1) -->
  <div class="hidden md:flex items-center pl-10">
    {% if section.settings.logo %}
      <a href="/">
        <img 
          src="{{ section.settings.logo | image_url: width: 200 }}" 
          alt="Logo"
          class=" w-40 object-contain"
          width="{{ section.settings.background_image.width }}"
          height="{{ section.settings.background_image.height }}"
        >
      </a>
      
    {% else %}
      <h2 class="text-xl font-bold text-white">
        {{ shop.name }}
      </h2>
    {% endif %}
  </div>

  <!-- MENU desktop (col 2) -->
  <nav class="hidden md:flex  md:justify-center space-x-8">
    {% for link in section.settings.menu.links %}
      <a 
        href="{{ link.url }}" 
        class="font-sf-pro font-light font-bricolage text-[2vw] md:text-[1.2vw] lg:text-[0.9vw] xl:text-[0.9vw] p-4 md:text-sm tracking-wider
         uppercase text-white  hover:text-gray-500 transition-colors duration-200 whitespace-nowrap"
      >
        {{ link.title }}
      </a>
    {% endfor %}
  </nav>

  <!-- Col 3  -->
  <div>
      <div class="flex justify-end md:pr-5">
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80 text-white [&_svg]:stroke-white " 
              aria-label="Instagram">
              {%- render 'search' -%}
            </a>
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80 text-white [&_svg]:stroke-white " 
              aria-label="Instagram">
              {%- render 'iconCart' -%}
            </a>
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80 text-white [&_svg]:stroke-white " 
              aria-label="Instagram">
              {%- render 'user' -%}
            </a>
        </div>
        
  </div>

</div>

 


</header>
<script>
  function toggleMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  }
</script>

{% stylesheet %}
  body {
    overflow-x: hidden;
  }
 
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    
  ]
}

{% endschema %}
