<div 
class="w-full lg:min-h-[90vh] md:min-h-[50vh] bg-[#F5F3F3] flex flex-col justify-between md:pb-10 lg:pb-20 relative px-[2vw]"
style="width: 100vw; margin-left: calc(50% - 50vw);"
>

    <!-- TÍTULO -->
    <div class="w-full flex md:justify-start md:items-start md:text-left text-center justify-center px-5 lg:px-20 md:px-10 lg:pt-20 md:pt-15 pt-10">
        <div class="text-black text-[11vw] md:text-[4.5vw] font-bricolage font-semibold leading-[1.1]">
            {{ section.settings.title | newline_to_br }}
        </div>
    </div>

    {% comment %} version mobile {% endcomment %}
    <div class="md:hidden flex flex-col justify-center items-center  py-2">

      <div class="h-12 flex items-center justify-center">
        <p class="text-black font-bricolage text-center text-[3.5vw] "> 
          {{  section.settings.text_socials}}
        </p>
      </div>

      <div class="flex pl-2 gap-4  ">
        <div class="flex justify-end md:justify-between bg-black rounded-full">
            <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Facebook">
              {%- render 'fb' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between bg-black rounded-full text-white">
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-70" 
              aria-label="Instagram">
              {%- render 'ig' -%}
            </a>
        </div>
        <div class="flex justify-end md:justify-between bg-black rounded-full ">
            <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener" 
              class="footer-icon hover:opacity-70 transition-opacity scale-80" 
              aria-label="Tiktok">
              {%- render 'tiktok' -%}
            </a>
        </div>
      
      </div>
    </div>

    <!-- GRID IMÁGENES -->
    <div class="w-full flex justify-center items-center">
        <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-6 md:gap-5 p-10 md:pt-10 lg:pt-20 md:px-5 lg:px-20 pt-5  ">

            <div class="relative w-full">
              <img 
                  src="{{ section.settings.imagen | img_url: '2000x2000' }}" 
                  alt="Imagen 1"
                  class="w-full h-full object-cover rounded-xl"
                  width="{{ section.settings.background_image.width }}"
                  height="{{ section.settings.background_image.height }}"
              >
            </div>

            <div class="relative w-full md:pt-15">
              <img 
                  src="{{ section.settings.imagen2 | img_url: '2000x2000' }}" 
                  alt="Imagen 2"
                  class="w-full h-full object-cover rounded-xl"
                  width="{{ section.settings.background_image.width }}"
                  height="{{ section.settings.background_image.height }}"
              >
            </div>

            <div class="relative w-full">
              <img 
                  src="{{ section.settings.imagen3 | img_url: '2000x2000' }}" 
                  alt="Imagen 3"
                  class="w-full h-full object-cover rounded-xl"
                  width="{{ section.settings.background_image.width }}"
                  height="{{ section.settings.background_image.height }}"
              >
            </div>

        </div>
    </div>
    {% comment %} version desktop {% endcomment %}
    <div class="hidden md:flex flex-col md:flex-row w-full justify-center items-center 
      mt-5 md:mt-0 py-5 ">

  
        <div class="flex pl-2 gap-4  ">
            <div class="flex justify-end md:justify-between bg-black rounded-full">
                <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener" 
                  class="footer-icon hover:opacity-70 transition-opacity scale-70" 
                  aria-label="Facebook">
                  {%- render 'fb' -%}
                </a>
            </div>
            <div class="flex justify-end md:justify-between bg-black rounded-full text-white">
                <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
                  class="footer-icon hover:opacity-70 transition-opacity scale-70" 
                  aria-label="Instagram">
                  {%- render 'ig' -%}
                </a>
            </div>
            <div class="flex justify-end md:justify-between bg-black rounded-full ">
                <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener" 
                  class="footer-icon hover:opacity-70 transition-opacity scale-80" 
                  aria-label="Tiktok">
                  {%- render 'tiktok' -%}
                </a>
            </div>
          
          </div>

        <div class=" h-12 w-auto pl-4 pr-0
              flex items-center justify-between  ">

          <p class="text-black text-[4vw] md:text-xl font-bricolage flex-1 px-3">
            {{ section.settings.social }}
          </p>

          
        </div>
    </div>

</div>




{% schema %}
{
  "name": "Section socials",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "text_socials",
      "label": "Texto",
      "default": "Follow our socials, never miss a brew."
    },
    {
      "type": "text",
      "id": "social",
      "label": "Red social",
      "default": "@drinkvvibbo"
    },
    {
      "type": "url",
      "id": "instagram-url",
      "label": "URL"
    },
    {
      "type": "image_picker",
      "id": "imagen",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "imagen2",
      "label": "Image2"
    },
    {
      "type": "image_picker",
      "id": "imagen3",
      "label": "Image3"
    },
    
    
    
    
    
  ],
  "presets": [
    {
      "name": "Section socials"
    }
  ]
}
{% endschema %}
