<div 
class="w-screen min-h-[90vh] bg-[#EBEBEB] flex flex-col justify-between pb-20 relative"
style="width: 100vw; margin-left: calc(50% - 50vw);"
>

    <!-- TÍTULO -->
    <div class="w-full flex justify-start items-start px-5 md:px-20 pb-10 pt-20">
        <div class="text-black text-[8vw] md:text-[4.5vw] font-bricolage font-semibold leading-[1.1]">
            {{ section.settings.title | newline_to_br }}
        </div>
    </div>

    <!-- GRID IMÁGENES -->
    <div class="w-full flex justify-center items-center">
        <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-6 md:gap-8 p-5 md:p-20 pt-5 pb-10">

            <div class="relative w-full">
              <img 
                  src="{{ section.settings.imagen | img_url: '2000x2000' }}" 
                  alt="Imagen 1"
                  class="w-full h-full object-cover rounded-xl"
                  width="{{ section.settings.background_image.width }}"
                  height="{{ section.settings.background_image.height }}"
              >
            </div>

            <div class="relative w-full">
              <img 
                  src="{{ section.settings.imagen2 | img_url: '2000x2000' }}" 
                  alt="Imagen 2"
                  class="w-full h-full object-cover rounded-xl"
                  width="{{ section.settings.background_image.width }}"
                  height="{{ section.settings.background_image.height }}"
              >
            </div>

            <div class="relative w-full">
              <img 
                  src="{{ section.settings.imagen3 | img_url: '2000x2000' }}" 
                  alt="Imagen 3"
                  class="w-full h-full object-cover rounded-xl"
                  width="{{ section.settings.background_image.width }}"
                  height="{{ section.settings.background_image.height }}"
              >
            </div>

        </div>
    </div>

    <div class="flex flex-col md:flex-none items-center md:items-start mt-5 md:mt-0 py-5">

        <div class="md:absolute md:bottom-35 md:right-20 h-12 flex items-center pl-3 text-center md:text-left">
            <p class="text-black font-bricolage text-[4vw] md:text-base "> 
                Follow our socials, never miss a brew.
            </p>
        </div>

        <div class="md:absolute md:bottom-22 md:right-48 bg-[#EBEBEB] h-12 w-auto  
                    flex justify-center items-center rounded-full 
                    border border-black mt-3 md:mt-0">

            <p class="text-black text-[4vw] md:text-base font-bricolage mr-2 px-3 ">
                @drinkvvibbo
            </p>

            <a href="{{ section.settings.imagen1-url }}" 
               target="_blank" 
               rel="noopener"
               class="hover:opacity-70 transition-opacity scale-75 md:scale-100 pr-2" 
               aria-label="Imagen 1 URL">
                {%- render 'arrow' -%}
            </a>
        </div>
    </div>

</div>




{% schema %}
{
  "name": "Section socials",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "imagen",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "imagen2",
      "label": "Image2"
    },
    {
      "type": "image_picker",
      "id": "imagen3",
      "label": "Image3"
    },
    
    {
      "type": "textarea",
      "id": "text-follow",
      "label": "Text follow",
      "default": "Follow"
    },
    {
      "type": "url",
      "id": "instagram-url",
      "label": "URL"
    },
    
    
  ],
  "presets": [
    {
      "name": "Section socials",
    }
  ]
}
{% endschema %}
