<div 
class="w-screen min-h-[90vh] bg-[#EBEBEB] flex flex-col justify-between"
style="width: 100vw; margin-left: calc(50% - 50vw);"
>

    <div class="w-full flex justify-start items-start p-20">
        <div class="text-black text-[6vw] md:text-[4.5vw] font-bricolage font-semibold leading-[1.1]">
            {{ section.settings.title | newline_to_br }}
        </div>
    </div>

    <div class="w-full flex justify-center items-center ">
        <div class="grid grid-cols-3 w-full gap-8 p-20 pt-5 pb-30">
            <div class="relative w-full">
              <img 
                  src="{{ section.settings.imagen | image_url: width: 600 }}" 
                  alt="Imagen 1"
                  class="w-full object-contain"
              >
            </div>

            
            <div class="relative w-full">
                <img 
                    src="{{ section.settings.imagen2 | image_url: width: 600 }}" 
                    alt="Imagen 2"
                    class="w-full object-contain"
                >
              
            </div>

            <div class="relative w-full">
                <img 
                    src="{{ section.settings.imagen3 | image_url: width: 600 }}" 
                    alt="Imagen 3"
                    class="w-full object-contain"
                >
              
            </div>
        </div>
    </div>
    <div class="absolute bottom-17 right-20  h-12  
                flex justify-start items-center 
                 pl-3">
                <p class="text-black font-bricolage " > Follow our socials, never miss a brew.</p>
            
            </div>
    <div class="absolute bottom-4 right-20 bg-[#EBEBEB] h-12 w-42 
                flex justify-start items-center rounded-full 
                border border-black pl-3">

        <p class="text-black text-base font-bricolage">
           @drinkvvibbo
        </p>

        <a href="{{ section.settings.imagen1-url }}" 
           target="_blank" 
           rel="noopener"
           class="ml-2 hover:opacity-70 transition-opacity scale-80 pl-1" 
           aria-label="Imagen 1 URL">
            {%- render 'arrow' -%}
        </a>
    </div>

</div>




{% schema %}
{
  "name": "Section socials",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "imagen",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "imagen2",
      "label": "Image2"
    },
    {
      "type": "image_picker",
      "id": "imagen3",
      "label": "Image3"
    },
    
    {
      "type": "textarea",
      "id": "text-follow",
      "label": "Text follow",
      "default": "Follow"
    },
    {
      "type": "url",
      "id": "instagram-url",
      "label": "URL"
    },
    
    
  ],
  "presets": [
    {
      "name": "Section socials",
    }
  ]
}
{% endschema %}
