
<div class="relative w-screen h-screen bg-cover bg-center flex items-center justify-center overflow-hidden full-bleed-header header-bg"
     style="--header-bg: url('{{ section.settings.background_image | image_url }}');">
  <link href="{{ 'sections-header.css' | asset_url }}" rel="stylesheet" />

 
    <div class="h-screen flex flex-col items-center justify-center pt-10 ">

        {% if section.settings.logo %}
            <img
            src="{{ section.settings.logo | image_url: width: 2000 }}"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            class="mb-6 lg:w-160 sm:w-100 w-70 "
            alt="Logo"
            >
        {% endif %}

        <div class="mx-auto text-center relative">
            <h1 class=" px-6 lg:text-6xl md:text-5xl text-4xl font-semibold font-bricolage
                 text-white max-w-5xl pt-10">
            {{ section.settings.page_descripction | newline_to_br}}
            </h1>
        </div>

         <div class="mx-auto text-center relative">
            <h1 class=" px-6 lg:text-3xl md:text-2xl text-xl  font-semibold font-bricolage
                 text-white lg:max-w-4xl max-w-3xl pt-10">
            {{ section.settings.page_suscribtion | newline_to_br}}
            </h1>
        </div>
        
        <form class="grid grid-cols-5 md:flex items-center bg-white rounded-full overflow-hidden shadow
                    w-[95%] max-w-xs md:max-w-md h-10 md:h-12">
          
          <!--  MOBILE  -->
          <input
            type="email"
            name="email"
            placeholder="{{ section.settings.placeholder_input }}"

            class="md:hidden col-span-3 px-4 h-full
                    text-gray-700 placeholder-gray-400 focus:outline-none"
            />


          <!-- INPUT DESKTOP -->
          <input
            type="email"
            name="email"
            placeholder="{{ section.settings.placeholder_input }}"

            class="hidden md:flex flex-1 px-4 h-full
                    text-sm text-gray-700 placeholder-gray-400 focus:outline-none"
            />

        
          
          <button
            type="submit"
            class="col-span-2 h-full bg-black text-white px-5
                    rounded-full md:text-sm text-xs
                    hover:bg-gray-800 transition"
            >

            {{ section.settings.placeholder_button }}
          </button>

        </form>
        <div class="flex flex-col md:flex-row w-full justify-center items-center 
            mt-5 md:mt-0 py-5 ">

                <div class=" h-12 w-auto pl-4 pr-0
                    flex items-center justify-between  ">

                <p class="text-white text-[4vw] md:text-xl font-bricolage flex-1 px-3">
                    {{ section.settings.socials }}
                </p>

                
                </div>
                <div class="flex pl-2 gap-4  ">
                    <div class="flex justify-end md:justify-between bg-white text-black rounded-full">
                        <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener" 
                        class="footer-icon hover:opacity-70 transition-opacity scale-70" 
                        aria-label="Facebook">
                        {%- render 'fb' -%}
                        </a>
                    </div>
                    <div class="flex justify-end md:justify-center items-center bg-white text-black  rounded-full">
                        <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener" 
                        class="footer-icon hover:opacity-70 transition-opacity scale-65 min-w-12" 
                        aria-label="Instagram">
                        {%- render 'ig' -%}
                        </a>
                    </div>
                    <div class="flex justify-end md:justify-between bg-white text-black rounded-full ">
                        <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener" 
                        class="footer-icon hover:opacity-70 transition-opacity scale-80" 
                        aria-label="Tiktok">
                        {%- render 'tiktok' -%}
                        </a>
                    </div>
                
                </div>

                
            </div>

    </div>



</div>










{% schema %}
{
  "name": "Newsletter",
  "settings": [
    
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Imagen de fondo"
    },   
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Imagen de logo"
    },    
    {
      "type": "richtext",
      "id": "page_descripction",
      "label": "Page Descripction",
    },
    {
      "type": "richtext",
      "id": "page_suscribtion",
      "label": "Page Subcribtion text",
    },
     {
      "type": "text",
      "id": "placeholder_input",
      "label": "Place holder input",
      "default": "Enter email"
    },
     {
      "type": "text",
      "id": "placeholder_button",
      "label": "Place holder boton",
      "default": "Suscribe"
    },
      {
      "type": "text",
      "id": "socials",
      "label": "Social text",
      "default": "@drinkvibbo"
    },
  ],
  "presets": [
    {
        "name": "Newsletter",
        "category": "Kickstarter"
    }
  ]
}



{% endschema %}

