
<div 
class="w-screen min-h-[55vh] bg-[#EBEBEB] flex flex-col-reverse md:flex-row justify-between"
style="width: 100vw; margin-left: calc(50% - 50vw);"
>

  <div class="w-full md:w-1/2 flex justify-center items-end pt-10">
    <img 
      src="{{ section.settings.imagen | image_url: width: 600 }}" 
      alt="Imagen"
      class="md:w-[35vw] w-[65vw] max-w-md object-contain"
      width="{{ section.settings.background_image.width }}"
      height="{{ section.settings.background_image.height }}"
    >
  </div>

  <div class="w-full md:w-1/2 flex justify-center items-center px-10 pt-15">
  <div class="text-left w-[90%] max-w-[350px] md:max-w-[500px]">
    <h2 class="md:text-5xl text-2xl font-semibold font-bricolage mb-4">
      {{section.settings.title}}</h2>

    <p class="md:text-lg text-sm leading-relaxed pt-3">
      {{ section.settings.texto1 }}
    </p>

    <div class="w-full pt-5">
      <form class="md:flex grid  grid-cols-2 w-full bg-white rounded-full overflow-hidden shadow">
          
        <!-- MOBILE -->
        <input 
            type="email"
            name="email"
            placeholder= "{{section.settings.placeholder}}"
            class="md:hidden md:flex-1 px-4 py-2 text-sm text-gray-700 placeholder-gray-400 focus:outline-none"
          />

          <!-- DESKTOP -->
          <input 
            type="email"
            name="email"
            placeholder= "{{section.settings.placeholder}}"
            class="hidden md:flex flex-1 px-4 py-2 text-sm text-gray-700 placeholder-gray-400 focus:outline-none"
          />
        
        <button 
          type="submit"
          class="bg-black text-white  px-5 py-2 rounded-full text-sm hover:bg-gray-800 transition"
        >
          Subscribe
        </button>

      </form>
    </div>
  </div>
</div>


</div>




{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "image_picker",
      "id": "imagen",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Join the tribe"
    },
    {
      "type": "textarea",
      "id": "texto1",
      "label": "Texto 1",
      "default": "Sign Up to our newsletter and be the first to know about our launch and exclusive offers"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Placeholder",
      "default": "email address"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
    }
  ]
}
{% endschema %}
