<link href="{{ 'sections-header.css' | asset_url }}" rel="stylesheet" />

<section class=" w-full bg-white overflow-hidden h-screen full-width">
  <div class="w-full px-6 text-center flex items-center justify-center h-full relative">
    
    <div class="relative max-w-5xl mx-auto">
    {% if section.settings.image_animation1 %}
      <img src="{{ section.settings.image_animation1 | image_url: width: 2000 }}" 
            width="{{ section.settings.image_animation1.featured_media.width }}"
            height="{{ section.settings.image_animation1.featured_media.height }}"
            class="animated-img-1 absolute md:top-80 top-[28%] md:-left-20 md:w-28 w-16 object-cover z-20">
    {% endif %}

    {% if section.settings.image_animation2 %}
      <img src="{{ section.settings.image_animation2 | image_url: width: 2000 }}" 
          width="{{ section.settings.image_animation2.featured_media.width }}"
          height="{{ section.settings.image_animation2.featured_media.height }}"
          class="animated-img-2 absolute md:top-8 -top-10 left-40 md:left-60 md:w-20 w-16 object-cover z-20">
    {% endif %}

    {% if section.settings.image_animation3 %}
      <img src="{{ section.settings.image_animation3 | image_url: width: 2000 }}" 
          width="{{ section.settings.image_animation3.featured_media.width }}"
          height="{{ section.settings.image_animation3.featured_media.height }}"
          class="animated-img-3 absolute md:bottom-[25%] bottom-0 right-0 md:w-20 w-16 object-cover z-20">
    {% endif %}

    {% if section.settings.image_animation3 %}
      <img src="{{ section.settings.image_animation4 | image_url: width: 2000 }}" 
          width="{{ section.settings.image_animation4.featured_media.width }}"
          height="{{ section.settings.image_animation4.featured_media.height }}"
          class="animated-img-4 absolute -bottom-20 right-80 md:w-20 w-16 object-cover z-20">
    {% endif %}


      {% if section.settings.image_left != blank %}
        <img 
          src="{{ section.settings.image_left | img_url: 'x800' }}" 
          alt="" 
          class="block absolute md:-left-80 md:-bottom-62 md:w-80 w-48 z-0 -left-10 -bottom-80"
          width="200"
          height="200"
        >
      {% endif %}

      {% if section.settings.image_top != blank %}
        <img 
          src="{{ section.settings.image_top | img_url: 'x800' }}" 
          alt="" 
          class="block absolute md:left-10 md:-top-42 md:w-64 z-10 w-40 -top-32 left-0"
            width="800"
            height="800"
        >
      {% endif %}

      {% if section.settings.image_right != blank %}
        <img 
          src="{{ section.settings.image_right | img_url: 'x800' }}" 
          alt="" 
          class="block absolute md:-right-56 md:-bottom-60 md:w-80 z-10 -right-8 -bottom-80 w-40"
            width="200"
            height="200"
        >
      {% endif %}

      <div class="relative z-2 flex flex-col items-center text-center max-w-4xl mx-auto gap-4">
        
        <div class="text-6xl md:text-[140px] font-extrabold leading-none mb-4 font-bricolage md:max-w-2xl not-found-title">
          {{ section.settings.title }}
        </div>

        <p class="text-gray-600 text-lg md:text-xl mb-8">
          {{ section.settings.subtitle }}
        </p>

        {% if section.settings.button_label != blank %}
          <a 
            href="{{ section.settings.button_link }}" 
            class="inline-flex items-center px-6 py-3 rounded-full bg-black text-white font-medium hover:bg-gray-800 transition"
          >
            {{ section.settings.button_label }}
            <span class="ml-2 text-sm">
                {%- render 'arrow-not-found' -%}
            </span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  .not-found-title strong{
    color: #2A8744;
  }
</style>

{% schema %}
{
  "name": "Not Found Page Section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Título"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtítulo",
      "default": "Parece que la página que buscas no existe o ha sido movida."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Texto del botón",
      "default": "Volver al inicio"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Enlace del botón",
      "default": "/"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Imagen izquierda (ave)"
    },
    {
      "type": "image_picker",
      "id": "image_top",
      "label": "Imagen superior (mono)"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Imagen derecha (leopardo)"
    },
    {
      "type": "image_picker",
      "id": "image_animation1",
      "label": "Imagen animación 1"
    },
    {
      "type": "image_picker",
      "id": "image_animation2",
      "label": "Imagen animación 2"
    },
    {
      "type": "image_picker",
      "id": "image_animation3",
      "label": "Imagen animación 3"
    },
    {
      "type": "image_picker",
      "id": "image_animation4",
      "label": "Imagen animación 4"
    }
  ],
  "presets": [
    {
      "name": "Not Found Page Section"
    }
  ]
}
{% endschema %}
