<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start pt-30 ">
  {% assign product = all_products[section.settings.product] %}

  {% if product %}
    <div class="product-media w-full justify-center ">
      {% if product.featured_media %}
        <img 
          src="{{ product.featured_media | image_url: width: 1200 }}"
          alt="{{ product.featured_media.alt | escape }}"
          class="w-full h-auto object-cover rounded-xl"
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        />
      {% endif %}
    </div>

    <div class="product-info w-full pt-50">
      <h1 class="text-3xl md:text-4xl font-bricolage font-medium text-black mb-4">{{ product.title }}</h1>
      <p class="prose text-gray-700 font-bricolage pt-4">
        {{ product.description }}
    </p>
    </div>

  {% else %}
    <div class="col-span-2 text-center text-sm text-gray-500">No product selected in section settings.</div>
  {% endif %}

</div>


{% schema %}
{
  "name": "Main product",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Selecciona el producto"
    }
  ],
  
  "presets": [{ "name": "Main product" }]
}
{% endschema %}