<div class="w-full overflow-x-auto md:py-10 py-5 md:pt-30">
    <div class="md:block flex w-full md:justify-left justify-center md:pl-20">
      <h2 class="py-10 text-black text-[7vw] md:text-[3.4vw] 
        font-bricolage font-semibold leading-[1.1] md:text-left text-center">
        {{ section.settings.title | newline_to_br }}
      </h2>
      <div
        class="md:hidden flex justify-center items-center pl-5 scale-80 cursor-pointer open-popup"
        data-image="{{ section.settings.image | image_url: width: 1200 }}"
      >
        {% render 'arrow' %}
      </div>
       
    </div>
    <div class="hidden md:flex justify-center items-center px-5 md:px-20">
        <img src="{{ section.settings.image | img_url: 'master' }}" 
            alt="Why Vibbo Image" 
            class="w-full h-auto max-w-lg md:max-w-none"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
        />
    </div>

</div>

<!-- POPUP MOBILE -->
<div id="mobileImagePopup"
     class="fixed inset-0 bg-black/70 z-50 hidden items-center justify-center">
  
  <div class="relative w-[90%] max-w-md">
    
    <button
      id="closePopup"
      class="absolute -top-10 right-0 text-white text-3xl">
      ✕
    </button>

    <!-- Imagen -->
    <img
      id="popupImage"
      src=""
      alt=""
      class="w-full h-auto rounded-2xl object-cover"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}"
    />

    
  </div>
</div>


<script>
  const popup = document.getElementById('mobileImagePopup');
  const popupImage = document.getElementById('popupImage');
  const closePopup = document.getElementById('closePopup');

  document.querySelectorAll('.open-popup').forEach(btn => {
    btn.addEventListener('click', () => {
      const imgSrc = btn.dataset.image;
      popupImage.src = imgSrc;
      popup.classList.remove('hidden');
      popup.classList.add('flex');
      document.body.style.overflow = 'hidden';
    });
  });

  closePopup.addEventListener('click', closeModal);
  popup.addEventListener('click', e => {
    if (e.target === popup) closeModal();
  });

  function closeModal() {
    popup.classList.add('hidden');
    popup.classList.remove('flex');
    popupImage.src = '';
    document.body.style.overflow = '';
  }
</script>

<style>
  #mobileImagePopup {
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
</style>

{% schema %}
{
  "name": "Product Why Vibbo Image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Why Vibbo?"
    }, 
    {
    "type": "image_picker",
      "id": "image",
      "label": "Image",
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Why Vibbo Image"
    }
  ]
}
{% endschema %}