<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center
   md:px-5 md:py-10 md:pt-46 pt-32">

  {% if product %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    {% if product.media.size > 1 %}

    <!-- SLIDER -->
    <div class="relative w-full overflow-hidden rounded-xl" id="productSlider">
      
      <div class="flex transition-transform duration-500" id="sliderTrack">
        {% for media in product.media %}
          <div class="w-full h-full shrink-0 aspect-square overflow-hidden rounded-xl">
            {% if media.media_type == "image" %}
              <img
                src="{{ media | image_url: width: 1200 }}"
                alt="{{ media.alt | escape }}"
                class="w-full h-full object-cover"
                width="{{ media.width }}"
                height="{{ media.height }}"
              />
            {% elsif media.media_type == "video" %}
              <video
                autoplay
                loop
                muted
                playsinline
                class="w-full h-full object-cover"
              >
                <source src="{{ media.sources[1].url }}" type="video/mp4">
              </video>
            {% elsif media.media_type == "external_video" %}
              {% if media.host == "youtube" %}
                <iframe
                  src="https://www.youtube.com/embed/{{ media.external_id }}?autoplay=1&mute=1&loop=1&playlist={{ media.external_id }}&controls=0&modestbranding=1&rel=0"
                  class="w-full h-full"
                  frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                ></iframe>
              {% elsif media.host == "vimeo" %}
                <iframe
                  src="https://player.vimeo.com/video/{{ media.external_id }}?autoplay=1&muted=1&loop=1&background=1&controls=0"
                  class="w-full h-full"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  allowfullscreen
                ></iframe>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>


      <!-- BOTONES -->
      <button 
        class="absolute left-0 top-1/2 -translate-y-1/2   
        text-black px-3 py-2  cursor-pointer"
        onclick="slidePrev()">
        {% render 'arrow-slidder2' %}
      </button>

      <button 
        class="absolute right-0 top-1/2 -translate-y-1/2  
        text-black px-3 py-2  cursor-pointer"
        onclick="slideNext()">
        {% render 'arrow-slidder' %}
      </button>

    </div>

        
    {% else %}
        <div class="product-media w-full justify-center ">
        {% if product.featured_media %}
            <img 
            src="{{ product.featured_media | image_url: width: 1200 }}"
            alt="{{ product.featured_media.alt | escape }}"
            class="w-full h-auto object-cover rounded-xl"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
            />
        {% endif %}
        </div>

       
    {% endif %}
     <div class="product-info w-full  px-4 flex flex-col justify-between items-start h-auto">
      <div>
        <h1 class="text-3xl md:text-4xl font-bricolage font-medium text-black mb-4">
          {{ product.title }}
        </h1>
        <div id="priceWrapper" class="py-4 flex items-center gap-4 transition-all duration-300">
          {% if current_variant.compare_at_price > current_variant.price %}
            <span class="text-2xl md:text-3xl text-gray-400 line-through">
              {{ current_variant.compare_at_price | money }}
            </span>

            <span class="text-2xl md:text-2xl text-red-700 font-light">
              {{ current_variant.price | money }}
            </span>
          {% else %}
            {% if section.settings.kickstarter_price %}
              <span class="text-2xl md:text-3xl text-gray-400 line-through">
                 {{ current_variant.price | money }}
              </span>

              <span class="text-md md:text-xl text-red-700 font-light">
                {{section.settings.text_kickstarter }}
              </span>
            {% else %}
              <span class="text-2xl md:text-3xl text-gray-700">
                {{ current_variant.price | money }}
              </span>
            {% endif %}
          {% endif %}
        </div>

        <!-- Start of Judge.me code / suscribe  --> 
        {% comment %} <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' data-auto-install='false'> 
          {{ product.metafields.judgeme.badge }} 
        </div>  {% endcomment %}
        <!-- End of Judge.me code -->

        {% comment %} <div class="subscriptions_app_embed_block"></div> {% endcomment %}


        <div class="text-sm text-black font-bricolage pt-4 product-description">
            {{ product.description }}
        </div>
        


        {% comment %} variantes {% endcomment %}
        {% unless product.has_only_default_variant %}
          {% assign first_variant = product.selected_or_first_available_variant %}
          
          <p class="font-bricolage md:text-lg text-sm pt-3">Quantity:</p>
          <div class="w-full grid grid-cols-4 md:gap-4 gap-3 pt-5 ">
            {% for variant in product.variants %}
              {% assign parts = variant.title | split: '/' %}
              {% assign descount = parts[0] | strip %}
              {% assign cant = parts[1] | strip | remove: 'gr' | strip %}

              <div
                class="variant-option rounded-xl w-full h-full flex flex-col
                      cursor-pointer border border-gray-400
                      transition-all duration-300
                      overflow-hidden
                      {% if variant.id == first_variant.id %}ring-2 ring-black scale-105{% endif %}"
                data-variant-id="{{ variant.id }}"
                data-price="{{ variant.price | money }}"
                data-price-raw="{{ variant.price }}"
                data-compare="{{ variant.compare_at_price | money }}"
                data-compare-raw="{{ variant.compare_at_price }}"
              >
                <div class="w-full bg-gray-800 flex items-center justify-center h-15 md:h-14">
                  <p class="font-bricolage md:text-md text-xs  text-center text-white px-2 leading-tight">
                    {{ descount }}
                  </p>
                </div>

                <div class="flex-1 w-full flex items-center justify-center py-2">
                  <p class="font-bricolage md:text-lg text-sm">
                    {{ cant }}
                  </p>
                </div>
              </div>

            {% endfor %}
         
          </div>
          
        

        {% endunless %}
      </div>

      {% if section.settings.kickstarter_price %}
        <div class="py-5 w-full">
          <a 
            href="{{ section.settings.kickstarter_link }}" target="_blank"
            class="bg-black flex items-center justify-center w-full rounded-3xl py-3 
                  hover:opacity-70 transition-opacity "
          >
            <span class="font-bricolage text-white xl:text-sm text-sm text-center uppercase font-light px-10">
              {{ section.settings.text_kickstarter_button }}
            </span>
          </a>
        </div>
       

      {% else %}

        <form method="post" action="{{ routes.cart_add_url }}" class="w-full py-4 items-end text-center mx-auto cursor-pointer">
          <input
            type="hidden"
            name="id"
            id="variantInput"
            value="{{ current_variant.id }}"
          >

          <button
            type="submit"
            {% unless current_variant.available %}disabled{% endunless %}
            class="bg-gray-800 flex items-center justify-center w-full rounded-3xl py-3 
                  hover:opacity-70 transition-opacity disabled:opacity-50"
          >
            <span class="font-bricolage text-white xl:text-sm text-md uppercase font-light">
              {% if current_variant.available %} 
                {{ section.settings.text_button }}
              {% else %}
                {{ section.settings.sold_out_text }}
              {% endif %}
            </span>
          </button>
        </form>

      {% endif %}
      <div class="">
        <p class="text-sm text-gray-500 font-bricolage italic">
          {{ section.settings.disclaimer_kickstarter }}
        </p>
      </div>


        

    </div>
        

  {% else %}
    <div class="col-span-2 text-center text-sm text-gray-500">No product selected in section settings.</div>
  {% endif %}

</div>

<script>
  const variants = document.querySelectorAll('.variant-option');
  const variantInput = document.getElementById('variantInput');
  const priceWrapper = document.getElementById('priceWrapper');
  const mainPrice = document.getElementById('mainPrice');

  variants.forEach(option => {
    option.addEventListener('click', () => {
      variants.forEach(v => {
        v.classList.remove('ring-2', 'ring-black', 'scale-105');
      });

      option.classList.add('ring-2', 'ring-black', 'scale-105');

      variantInput.value = option.dataset.variantId;

      priceWrapper.classList.add('opacity-0', 'translate-y-2');

      setTimeout(() => {
        const price = option.dataset.price;
        const compare = option.dataset.compare;

        if (compare && compare !== '') {
          priceWrapper.innerHTML = `
            <span class="text-3xl md:text-4xl text-gray-400 line-through">
              ${compare}
            </span>
            <span class="text-sm md:text-xl text-red-700 font-light">
              DISCOUNTED KICKSTARTER PRICE NOW LIVE!
            </span>
          `;
        } else {
          priceWrapper.innerHTML = `
            <span class="text-5xl md:text-6xl text-gray-700">
              ${price}
            </span>
          `;
        }


        priceWrapper.classList.remove('opacity-0', 'translate-y-2');
      }, 200);
    });
  });
</script>


<script>
    let currentSlide = 0;

    function slideNext() {
    const track = document.getElementById("sliderTrack");
    const slides = track.children.length;

    currentSlide = (currentSlide + 1) % slides;
    track.style.transform = `translateX(-${currentSlide * 100}%)`;
    }

    function slidePrev() {
    const track = document.getElementById("sliderTrack");
    const slides = track.children.length;

    currentSlide = (currentSlide - 1 + slides) % slides;
    track.style.transform = `translateX(-${currentSlide * 100}%)`;
    }
</script>


{% schema %}
{
  "name": "Description product",
  "settings": [
    {
      "type": "text",
      "id": "text_button",
      "label": "Text button",
      "default": "ADD TO CART"
    }, 
    {
      "type": "text",
      "id": "sold_out_text",
      "label": "Sold out text",
      "default": "SOLD OUT"
    }, 
    {
      "type": "checkbox",
      "id": "kickstarter_price",
      "label": "Kickstarter price",
      "default": true
    },
    {
      "type": "text",
      "id": "text_kickstarter",
      "label": "Kickstarter text",
      "default": "A DISCOUNTED KICKSTARTER PRICE NOW LIVE!"
    }, 
    {
      "type": "text",
      "id": "text_kickstarter_button",
      "label": "Kickstarter text",
      "default": "ADD DISCOUNT"
    }, 
    {
      "type": "url",
      "id": "kickstarter_link",
      "label": "Kickstarter link",
    }, 
    {
      "type": "textarea",
      "id": "disclaimer_kickstarter",
      "label": "Disclaimer Kickstarter text",
    },
  ],
  
  "presets": [{ "name": "Description product" }]
}
{% endschema %}