<div
  class="w-full xl:py-20 xl:pb-40 py-15 pb-25 overflow-hidden bg-[#F5F5F5] relative flex flex-col items-center justify-center"
  style="width: 100vw; margin-left: calc(50% - 50vw);"
>
  
<div class="w-full h-full mx-auto flex flex-col items-center justify-center ">

  
  {% if section.settings.title %}
  <h2 class="text-center md:text-5xl text-[8vw] text-black font-semibold font-bricolage md:pb-20 pb-15">

    {{ section.settings.title }}
  </h2>
  {% endif %}

  <!-- WRAPPER DEL CARRUSEL -->
  <div class="relative w-full overflow-visible flex items-center">
    
    <!-- TRACK QUE SE MUEVE -->
    <div class="flex md:gap-10 gap-8 animate-infinite-scroll items-center">
      {% for i in (1..4) %} 
          {% for block in section.blocks %}
          <div class="md:min-w-[20vw] min-w-[60vw] xs:min-h-[45vw] w-full bg-white 
            rounded-xl flex flex-col items-center justify-center  card-focus">
            <div class="md:h-[18vw] h-[50vw] items-center justify-center flex">
              <img 
                  src="{{ block.settings.image | image_url: width: 1000 }}"
                  alt=""
                  class="xl:w-50 md:h-60 w-40 object-cover md:mb-2"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
              >
            </div>
            
            <h3 class="font-medium text-black font-bricolage xl:text-2xl text-xl">
              {{ block.settings.title }}</h3>
            <p class="text-black md:min-h-[8vw] min-h-[15vw] 
              font-bricolage text-center md:text-[0.9vw] text-[3vw] py-5 md:px-4 px-6">
              {{ block.settings.text }}</p>
          </div>
          {% endfor %}
      {%  endfor %}
      

     

    </div>

  </div>
  
  </div>
</div>
{% if section.settings.imagen1 %}
    <div class="absolute md:top-5 md:-translate-y-30 -translate-y-25 right-0 transform ">
      <img
        src="{{ section.settings.imagen1 | image_url: width: 1000 }}"
        alt="Imagen 1"
        class="md:w-[15vw] w-[25vw] object-cover "
        width="{{ section.settings.imagen1.width }}"
        height="{{ section.settings.imagen1.height }}"
      />
    </div>
  {% endif %}
  {% if section.settings.imagen2 %}
    <div class="absolute md:left-0 bottom-0 md:translate-y-[25vw] translate-y-[45vw] md:-translate-x-15 -translate-x-20 transform">
      <img
        src="{{ section.settings.imagen2 | image_url: width: 1000 }}"
        alt="Imagen 2"
        class="md:w-[35vw] w-[65vw] object-cover block"
        width="{{ section.settings.imagen2.width }}"
        height="{{ section.settings.imagen2.height }}"
      />
    </div>
  {% endif %}
  {% if section.settings.imagen3 %}
    <div class="hidden md:block absolute right-20 translate-y-35 bottom-0 transform">
      <img
        src="{{ section.settings.imagen3 | image_url: width: 1000 }}"
        alt="Imagen 3"
        class="w-[35vw] object-cover block"
        width="{{ section.settings.imagen3.width }}"
        height="{{ section.settings.imagen3.height }}"
      />
    </div>
  {% endif %}

<style>
    @keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
    }

    .animate-infinite-scroll {
    display: flex;
    animation: infinite-scroll 60s linear infinite;
    }

    
    .card-focus {
      transition: transform 0.4s ease, opacity 0.4s ease;
      transform: scale(0.95);
    }


  .card-focus.is-center {
    transform: scale(1.2);
    opacity: 1;
    z-index: 10;
  }

 .card-focus img {
  transition: transform 0.4s ease;
}

.card-focus.is-center img {
  transform: scale(1.1);
}


</style>

<script>
  function detectCenterCard() {
    const cards = document.querySelectorAll('.card-focus');

    // Centro REAL del viewport
    const viewportCenter = window.innerWidth / 2;

    cards.forEach(card => {
      const rect = card.getBoundingClientRect();
      const cardCenter = rect.left + rect.width / 2;

      // Distancia entre centros
      const distance = Math.abs(viewportCenter - cardCenter);

      // Rango exacto para considerar "en el centro"
      const activationRange = rect.width * 0.25;

      if (distance < activationRange) {
        card.classList.add('is-center');
      } else {
        card.classList.remove('is-center');
      }
    });

    requestAnimationFrame(detectCenterCard);
  }

  requestAnimationFrame(detectCenterCard);
</script>




{% schema %}
{
  "name": "Product Ingredients",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product Ingredients"
    },
    {
      "type": "image_picker",
      "id": "imagen1",
      "label": "Imagen 1",
    },
    {
      "type": "image_picker",
      "id": "imagen2",
      "label": "Imagen 2",
    },
    {
      "type": "image_picker",
      "id": "imagen3",
      "label": "Imagen 3",
    }
  
  ],
    "blocks": [
    {
      "type": "ingredient_block",
      "name": "Ingredient Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Ingredient Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Ingredient description"
        }
      ]
    }
  ],
    "presets": [
        {
        "name": "Product Ingredients",
        "category": "Productos"
        }
    ]
}
{% endschema %}