<div class="w-full overflow-x-auto md:py-10 py-5 md:pt-30">
    <div class="md:block flex w-full md:justify-left justify-center md:pl-20">
      <h2 class="py-10 text-black text-[7vw] md:text-[3.4vw] 
        font-bricolage font-semibold leading-[1.1] md:text-left text-center">
        {{ section.settings.title | newline_to_br
         | replace: 'Vibbo', '<span class=" uppercase font-grafika font-normal  text-[6.5vw] md:text-[3.4vw]">VIBBO</span>' }}
        
      </h2>
      
       
    </div>
    <div class="hidden md:flex justify-center items-center px-5 md:px-20">
        <img src="{{ section.settings.image | img_url: 'master' }}" 
            alt="Why Vibbo Image" 
            class="w-full h-auto max-w-lg md:max-w-none"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
        />
    </div>

    <div class="md:hidden flex justify-center items-center px-5 md:px-20">
        <img src="{{ section.settings.image_mobile | img_url: 'master' }}" 
            alt="Why Vibbo Image" 
            class="w-full h-auto max-w-lg md:max-w-none"
            width="{{ section.settings.image_mobile.width }}"
            height="{{ section.settings.image_mobile.height }}"
        />
    </div>

</div>






{% schema %}
{
  "name": "Product Why Vibbo Image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Why Vibbo?"
    }, 
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile",
    }
  ],
  
  "presets": [
    {
      "name": "Product Why Vibbo Image"
    }
  ]
}
{% endschema %}