<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center md:px-5 md:py-10 md:pt-42 pt-32">

  {% if product %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    {% if product.media.size > 1 %}

    <!-- SLIDER -->
    <div class="relative w-full overflow-hidden rounded-xl" id="productSlider">
      
      <div class="flex transition-transform duration-500" id="sliderTrack">
        {% for media in product.media %}
          <div class="w-full h-full shrink-0 aspect-square overflow-hidden rounded-xl">
            {% if media.media_type == "image" %}
              <img
                src="{{ media | image_url: width: 1200 }}"
                alt="{{ media.alt | escape }}"
                class="w-full h-full object-cover"
                width="{{ media.width }}"
                height="{{ media.height }}"
              />
            {% elsif media.media_type == "video" %}
              <video
                autoplay
                loop
                muted
                playsinline
                class="w-full h-full object-cover"
              >
                <source src="{{ media.sources[1].url }}" type="video/mp4">
              </video>
            {% elsif media.media_type == "external_video" %}
              {% if media.host == "youtube" %}
                <iframe
                  src="https://www.youtube.com/embed/{{ media.external_id }}?autoplay=1&mute=1&loop=1&playlist={{ media.external_id }}&controls=0&modestbranding=1&rel=0"
                  class="w-full h-full"
                  frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                ></iframe>
              {% elsif media.host == "vimeo" %}
                <iframe
                  src="https://player.vimeo.com/video/{{ media.external_id }}?autoplay=1&muted=1&loop=1&background=1&controls=0"
                  class="w-full h-full"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  allowfullscreen
                ></iframe>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>


      <!-- BOTONES -->
      <button 
        class="absolute left-0 top-1/2 -translate-y-1/2   
        text-black px-3 py-2  cursor-pointer"
        onclick="slidePrev()">
        {% render 'arrow-slidder2' %}
      </button>

      <button 
        class="absolute right-0 top-1/2 -translate-y-1/2  
        text-black px-3 py-2  cursor-pointer"
        onclick="slideNext()">
        {% render 'arrow-slidder' %}
      </button>

    </div>

        
    {% else %}
        <div class="product-media w-full justify-center ">
        {% if product.featured_media %}
            <img 
            src="{{ product.featured_media | image_url: width: 1200 }}"
            alt="{{ product.featured_media.alt | escape }}"
            class="w-full h-auto object-cover rounded-xl"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
            />
        {% endif %}
        </div>

       
    {% endif %}
     <div class="product-info w-full  px-4 flex flex-col justify-between items-start h-full">
      <div>
        <h1 class="text-3xl md:text-4xl font-bricolage font-medium text-black mb-4">
          {{ product.title }}
        </h1>
        <div id="priceWrapper" class="py-4 flex items-center gap-4 transition-all duration-300">
          {% if current_variant.compare_at_price > current_variant.price %}
            <span class="text-2xl md:text-3xl text-gray-400 line-through">
              {{ current_variant.compare_at_price | money }}
            </span>

            <span class="text-2xl md:text-3xl text-red-700 font-light">
              {{ current_variant.price | money }}
            </span>
          {% else %}
            <span class="text-2xl md:text-3xl text-gray-700">
              {{ current_variant.price | money }}
            </span>
          {% endif %}
        </div>

        <!-- Start of Judge.me code --> 
          <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' data-auto-install='false'> 
        {{ product.metafields.judgeme.badge }} 
        </div> 
        <!-- End of Judge.me code -->

        <div class="subscriptions_app_embed_block"></div>


        <div class="text-sm text-black font-bricolage pt-4 product-description">
            {{ product.description }}
        </div>
        


        {% comment %} variantes {% endcomment %}
        {% unless product.has_only_default_variant %}
          {% assign first_variant = product.selected_or_first_available_variant %}

          <div class="w-full grid grid-cols-3 md:gap-8 gap-4 pt-5 ">
            {% for variant in product.variants %}
              {% assign parts = variant.title | split: '/' %}
              {% assign servings = parts[0] | strip %}
              {% assign grams = parts[1] | strip | remove: 'gr' | strip %}

              <div
                class="variant-option rounded-xl w-full flex flex-col 
                      items-center justify-center p-2 cursor-pointer border border-gray-400
                      transition-all duration-300
                      {% if variant.id == first_variant.id %}ring-2 ring-black scale-105{% endif %}"
                data-variant-id="{{ variant.id }}"
                data-price="{{ variant.price | money }}"
                data-price-raw="{{ variant.price }}"
                data-compare="{{ variant.compare_at_price | money }}"
                data-compare-raw="{{ variant.compare_at_price }}"
              >
                <p class="font-bricolage md:text-xl text-lg text-center">
                  {{ servings }} servings
                </p>

                <p class="font-bricolage md:text-lg text-sm">
                  {{ grams }} grams
                </p>
              </div>
            {% endfor %}
          </div>
          
        

        {% endunless %}
      </div>

      <form method="post" action="{{ routes.cart_add_url }}" class="w-full py-4 items-end text-center mx-auto cursor-pointer">
        <input
          type="hidden"
          name="id"
          id="variantInput"
          value="{{ current_variant.id }}"
        >

        <button
          type="submit"
          {% comment %} {% unless current_variant.available %}disabled{% endunless %} {% endcomment %}
          class="bg-black flex items-center justify-center w-full rounded-3xl py-3 
                hover:opacity-70 transition-opacity disabled:opacity-50"
        >
          <span class="font-bricolage text-white xl:text-sm text-md uppercase font-light">
            {% comment %} {% if current_variant.available %} {% endcomment %}
              Add to cart
            {% comment %} {% else %}
              Sold out
            {% endif %} {% endcomment %}
          </span>
        </button>
      </form>


        

    </div>
        

  {% else %}
    <div class="col-span-2 text-center text-sm text-gray-500">No product selected in section settings.</div>
  {% endif %}

</div>

<script>
  const variants = document.querySelectorAll('.variant-option');
  const variantInput = document.getElementById('variantInput');
  const priceWrapper = document.getElementById('priceWrapper');
  const mainPrice = document.getElementById('mainPrice');

  variants.forEach(option => {
    option.addEventListener('click', () => {
      variants.forEach(v => {
        v.classList.remove('ring-2', 'ring-black', 'scale-105');
      });

      option.classList.add('ring-2', 'ring-black', 'scale-105');

      variantInput.value = option.dataset.variantId;

      priceWrapper.classList.add('opacity-0', 'translate-y-2');

      setTimeout(() => {
        const price = option.dataset.price;
        const compare = option.dataset.compare;

        if (compare && compare !== '') {
          priceWrapper.innerHTML = `
            <span class="text-3xl md:text-4xl text-gray-400 line-through">
              ${compare}
            </span>
            <span class="text-4xl md:text-5xl text-red-700 font-light">
              ${price}
            </span>
          `;
        } else {
          priceWrapper.innerHTML = `
            <span class="text-5xl md:text-6xl text-gray-700">
              ${price}
            </span>
          `;
        }

        priceWrapper.classList.remove('opacity-0', 'translate-y-2');
      }, 200);
    });
  });
</script>


<script>
    let currentSlide = 0;

    function slideNext() {
    const track = document.getElementById("sliderTrack");
    const slides = track.children.length;

    currentSlide = (currentSlide + 1) % slides;
    track.style.transform = `translateX(-${currentSlide * 100}%)`;
    }

    function slidePrev() {
    const track = document.getElementById("sliderTrack");
    const slides = track.children.length;

    currentSlide = (currentSlide - 1 + slides) % slides;
    track.style.transform = `translateX(-${currentSlide * 100}%)`;
    }
</script>


{% schema %}
{
  "name": "Description product",
  "settings": [],
  
  "presets": [{ "name": "Description product" }]
}
{% endschema %}