<!-- TÍTULO -->
<div class="text-center items-center align-center pt-15">
  <h2 class="md:text-5xl text-3xl text-black font-semibold font-bricolage pb-5">
    {{ section.settings.section_title | default: "Shop" | newline_to_br }}
  </h2>
</div>

{% if section.settings.collection != blank %}
  {% assign coll = collections[section.settings.collection] %}
{% else %}
  {% assign coll = collection %}
{% endif %}

{% if coll %}

<section class="relative w-full pt-4">

  <!-- GRID RESPONSIVE -->
  <div class="
    grid
    grid-cols-1
    md:grid-cols-3
    gap-6
    md:gap-10
    px-4
    md:px-10
    py-10
    md:py-16
  ">
    {% for product in coll.products %}
      <div class="flex flex-col">

        <a href="{{ product.url }}" class="block">
          <div class="w-full aspect-5/5 rounded-2xl overflow-hidden bg-white">
            {% if product.media.size > 1 %}
                {% assign second_image = product.media[0] %}
                
                <div class="w-full md:h-[30vw] bg-white rounded-2xl overflow-hidden flex items-center justify-center">
                  <img
                    src="{{ second_image | image_url: width: 800 }}"
                    alt="{{ second_image.alt | escape }}"
                    width="{{ second_image.width }}"
                    height="{{ second_image.height }}"
                    loading="lazy"
                    class="w-full h-auto object-cover scale-105 hover:scale-115 transition-transform duration-350"
                  >
                </div>

              {% elsif product.featured_media %}
                <!-- fallback -->
                <div class="w-full md:h-[30vw] bg-white rounded-2xl overflow-hidden flex items-center justify-center">
                  <img
                    src="{{ product.featured_media | image_url: width: 800 }}"
                    alt="{{ product.featured_media.alt | escape }}"
                    width="{{ product.featured_media.width }}"
                    height="{{ product.featured_media.height }}"
                    class="w-full h-auto object-cover"
                  >
                </div>
              {% else %}
                <div class="w-full md:h-[30vw]  rounded-2xl overflow-hidden bg-gray-200" ></div>
              {% endif %}
          </div>

          <p class="font-bricolage text-lg md:text-xl text-[#575757] pt-3">
            {{ product.title }}
          </p>

          <p class="font-bricolage text-xl md:text-2xl text-black font-medium">
            {{ product.price | money }}
          </p>
        </a>

        <!-- ADD TO CART -->
        <form method="post" action="{{ routes.cart_add_url }}" class="pt-3">
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
          >

          <button
            type="submit"
            class="
              bg-black w-full rounded-3xl md:py-3 py-2 flex items-center
              justify-center hover:opacity-70 transition-opacity"
          >
            <span class="font-bricolage text-white md:text-sm text-xs uppercase font-light">
              {{ section.settings.text_add }}
            </span>
          </button>
        </form>

      </div>
    {% endfor %}
  </div>

</section>

{% endif %}


{% schema %}
{
  "name": "Main Shop",
  "settings": [
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Title",
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": "Descripcion",
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Colección"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "Número máximo de productos",
      "default": 12
    },
    {
      "type": "text",
      "id": "text_add",
      "label": "Texto del boton de añadir",
      "default": "ADD TO CART"
    },
   
  ],
  "presets": [
    {
      "name": "Main Shop",
      "category": "Productos"
    }
  ]
}
{% endschema %}
