<!-- TÍTULO -->
<div class="text-center items-center align-center pt-15">
  <h2 class="md:text-5xl text-3xl text-black font-semibold font-bricolage pb-10">
    {{ section.settings.section_title | default: "Shop" | newline_to_br }}
  </h2>
</div>

{% if section.settings.collection != blank %}
  {% assign coll = collections[section.settings.collection] %}
{% else %}
  {% assign coll = collection %}
{% endif %}

{% if coll %}

<section class="relative w-full pt-4">

  <!-- GRID RESPONSIVE -->
  <div class="
    grid
    grid-cols-1
    md:grid-cols-3
    gap-6
    md:gap-10
    px-4
    md:px-10
    py-10
    md:py-16
  ">
    {% for product in coll.products %}
      <div class="flex flex-col">

        <a href="{{ product.url }}" class="block">
          <div class="w-full aspect-[4/5] md:aspect-[5/5] rounded-2xl overflow-hidden bg-white">
            <img
              src="{{ product.featured_media | image_url: width: 800 }}"
              alt="{{ product.featured_media.alt | escape }}"
              class="w-full h-full object-cover hover:scale-105 transition-transform"
              loading="lazy"
            >
          </div>

          <p class="font-bricolage text-base md:text-lg text-[#575757] mt-3">
            {{ product.title }}
          </p>

          <p class="font-bricolage text-xl md:text-2xl text-black font-medium">
            {{ product.price | money }}
          </p>
        </a>

        <!-- ADD TO CART -->
        <form method="post" action="{{ routes.cart_add_url }}" class="pt-3">
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
          >

          <button
            type="submit"
            class="
              bg-black
              w-full
              rounded-3xl
              md:py-3 py-2
              flex
              items-center
              justify-center
              hover:opacity-70
              transition-opacity
            "
          >
            <span class="font-bricolage text-white md:text-sm text-xs uppercase font-light">
              Add to cart
            </span>
          </button>
        </form>

      </div>
    {% endfor %}
  </div>

</section>

{% endif %}


{% schema %}
{
  "name": "Main Shop",
  "settings": [
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Title",
      "default": "Shop"
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": "Descricion",
      "default": "Shop"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Colección"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "Número máximo de productos",
      "default": 12
    },
   
  ],
  "presets": [
    {
      "name": "Main Shop",
      "category": "Productos"
    }
  ]
}
{% endschema %}
